:plain
	console.log('#{@invite.inspect}')
	$('.footer').empty().html("#{escape_javascript( render 'layouts/footer' )}");
	$('.main_page_div').empty().html("#{escape_javascript( render template: 'users/show' )}");
