:plain
	var termsAccepted = #{current_user.terms}
	console.log(termsAccepted === false)
	if(termsAccepted) {
		console.log('WELCOME BACK!');
		$('.main_page_div').empty().html("#{escape_javascript( render template: 'users/show' )}");
	}
	else {
		console.log("Hello Bambi!");
		$('.main_page_div').empty().html("#{escape_javascript( render 'users/terms_cond' )}");
	}
	$('.footer').empty().html("#{escape_javascript( render partial: 'layouts/footer' )}")
