.footer-content

	- @artist = current_artist

	.setting-section
		- if !@artist.youtube_token.nil?
			%span connected to 
			.yt-link 
				= link_to("youtube", request_unlink_path(artist: {source: 'youtube', id: current_artist.id}), remote: true, class: 'request-unlink', id: 'youtube-unlink')

		- else
			%span add 
			.yt-link= link_to("youtube", yt_request_path)
			
	.divider
			
			
	.setting-section
		- if !@artist.soundcloud_token.nil?
			%span connected to 
			.sc-link
				= link_to("soundcloud", request_unlink_path(artist: {source: 'soundcloud', id: current_artist.id}), remote: true, class: 'request-unlink', id: 'soundcloud-unlink')

		- else
			%span add 
			.sc-link= link_to("soundcloud", sc_request_path)
			
:javascript