- @artist = current_artist
- @ids = init_auth_ids
- @tokens = current_artist.youtube_token
- @client = new_client(@ids, @tokens["access_token"], @tokens["refresh_token"])
- @client.refresh_access_token!
- @tokens["access_token"] = @client.access_token.token
- @tokens["refresh_token"] = @client.access_token.refresh_token
- current_artist.update_attributes(youtube_token: @tokens)

#available-uploads
	- @client.my_videos.videos.each do |video|
		=	render 'artist_uploads/show_song', video: video

	:javascript
		//Add AJAX-loaders
		$(document).ajaxStart(function() {
			$('#spinner').show();
		});
		$(document).ajaxStop(function() {
			$('#spinner').hide();		
		});

		$('.artist-song').each(function() {
			$(this).click(function() {
				console.log('you clicked!');
				var song = $(this).children('.add-song, .edit-song');
				$('#artist-media').append('<div class="editor" id="song-edit"></div>')
				$('#song-edit').html(song.html());
				$('#available-uploads').toggle();

				// Add 'go-back' functionality by resuming scroll
				$('.editor .go-back').click(function() {
					console.log('go back');
					$('.editor').remove();
					$('#available-uploads').toggle();
				});
			});
		});
