:plain
	accountId = '#{"#" + @account + "-unlink"}'
	console.log(accountId);
	$('#music-admin .reload-content .div-link').click();
	var messageFlash = #{@messages.to_json};
	if(messageFlash) {
		FlashManager.showMessage(messageFlash);
	}