- @yt_ids = yt_auth_ids
- @yt_tokens = current_artist.youtube_token
- @yt_client = new_yt_client(@yt_ids, @yt_tokens[:access_token], @yt_tokens[:refresh_token])
- @yt_client.refresh_access_token!
- @yt_tokens[:access_token] = @yt_client.access_token.token
- @yt_tokens[:refresh_token] = @yt_client.access_token.refresh_token
- current_artist.update_attributes(youtube_token: @yt_tokens)

#available-uploads
	- @yt_client.my_videos.videos.each do |video|
		=	render 'artist_uploads/show_song', video: video
