Hi!

You have been invited by your friend #{@sender.first_name} to join Soundmelon, a radio station that exclusively streams music by independent musicians. You can join and stream the music and even add your own at #{link_to "Soundmelon", root_url(invite_token: @token) }!
%br
%br
Cheers!
%br
Soundmelon Team
