= link_to('Get Youtube!', 'https://accounts.google.com/o/oauth2/auth?client_id=1035080270379-o8mnqtq490m1v2v1btgjfl1o54u3v0b3.apps.googleusercontent.com&redirect_uri=' + $localtunnel_add + '/oauth_callback&scope=https://gdata.youtube.com&response_type=code&approval_prompt=force&access_type=offline')
