.container
	.wrapper
		.section-wrapper.content
			.label Your Favourites
			- @songs_list = favorites
		- if @songs_list.nil? || @songs_list.size == 0
			.section-wrapper
				.no-info
					you have no favorites
					.title
						Add a favourite by clicking on the star beside a song title's name.
		- else
			.song-list.sortable
				- @songs_list.each do |song_id|
					.song-item.list-item{'data-position' => @songs_list.index(song_id), 'data-song-id' => song_id}
						- song = Song.find_by_song_id(song_id)
						.song-info.item-info
							.title.ellipsis
								%a{'data-station-id' => 'favorites', 'data-station-label' => 'favorites'}
									= song.song_title
							.sub-title
								by
								= song.artist.artist_name
						.song-controls.item-controls
							.callout-sprite.play-pause
							.callout-sprite.remove
								= link_to('', add_favorite_path(song_id: song_id), remote: true, class: 'filled-link')

	:javascript
		$(".song-list.sortable").sortable({
			placeholder: "sortable-placeholder",
			cursor: "move",
			axis: "y"
		}).bind('sortupdate', function() {
			var newList = setNewPositions($(".song-list"));
			$.ajax({
				url: '/update_favorites',
				data: {favorites: newList}
			});
		});

		$("#favorites-panel .song-info .title a").click(RadioManager.setStation);

		$("#favorites-panel .play-pause").click(function() {
			var station = $(this).closest('.list-item');
			var link = station.find('.title a');
			if(station.hasClass('current')) {
				$(this).toggleClass('play');
				$('#play-pause .control-image').removeClass('spinner ').toggleClass('pause-image play-image').show();
				RadioManager.playBehaviour();
			}
			else {
				console.log('trying the fav');
				$(this).removeClass('play');
				link.trigger('click');
			}
		});