- @user = current_user
- @fb_meta_list = @user.fb_meta.nil? ? [] : @user.fb_meta.keys
= form_for(@user, remote: true, url: update_fb_meta_path) do |f|
	= f.hidden_field :id, value: @user.id
	= f.text_area :fb_meta, value: @fb_meta_list.join(', '), class: "fb-meta-tags"