- invites = current_user.invites
- if !invites.nil?
	- invites.each do |invite|
		- status = Invite.find_by_email(invite).status
		.text-button{class: status + '-invite'}
			%span.text-box= invite

			.button
				%span= status