- if !current_user.is_artist?
	%span.menu-artist Artist? Add your #{link_to("tunes" , add_media_account_path, remote: true, class: 'hover-link', id: 'add-account')} to the radio!

- else
	%span.menu-artist Manage #{link_to("Music" , artist_show_path, remote: true, class: 'hover-link add-content', id: 'artist-show')} or your #{link_to("Artist Profile", artist_profile_edit_path, remote: true, class: 'hover-link', id: 'artist-profile-edit')}