= javascript_include_tag "popcorn-complete"

.player#youtube
.player#soundcloud

:javascript

	var songs = JSON.parse('#{active_ids.to_json}');
	var firstPlayer;
	var firstSource;
	var secondPlayer;
	var secondSource;

	if(songs.length > 0) {
		var firstSong = songs[0];
		firstSource = firstSong['upload_source'];
		firstPlayer = Popcorn.smart(firstSource, firstSong['song_url']);
		firstPlayer.on('ended', function() {
			playNextSong(0, songs);
		});
		$('#' + firstSource).css('display', 'block');
		firstPlayer.play();
	}

	function playNextSong(n, songs) {
		// Load the n+1 index in songs
		if(songs.length > n+1) {
			song = songs[n+1];
			if(song['upload_source'] !== songs[n]['upload_source']){
				$('.player').css('display', 'none');
			}
		
			if(song['upload_source'] === firstSource) {
				console.log('load new for first player');
			}

			else {
				if(!secondPlayer) {
					secondSource = song['upload_source'];
					secondPlayer = Popcorn.smart(secondSource, song['song_url']);
					secondPlayer.on('ended', function() {
						playNextSong(0, songs);
					});
					$('#' + secondSource).css('display', 'block');
					secondPlayer.play();
				}
				else {
					console.log('load new for second player');
				}
			}
		}
	}
