= javascript_include_tag "youtube_iframe_api", "sc_api", "simple-slider.min"

#radio-controls
	%a#replay-song replay 
	%a#previous-song previous
	%a#play-pause pause/play
	%a#next-song next
	%br
	%input#volume-slider

#radio-stations
	%a#user-meta Your Likes
	%a#random Random

.player#youtube
.player#soundcloud

#report-board

= link_to("Report", report_song_path(user_id: current_user.id, song_id: ''), remote: true, id: 'report-song')

#artist-info

:javascript

	var currentUserId = #{current_user.id}
	console.log(currentUserId);
	var scWidget;
	var ytPlayerReady = false;
	var scPlayerReady = false;
	var songs;
	var songHistory = []; //full browser history of played songs
	var playedUpdate = []; //gets sent to the server as an update
	var currentSong;
	var playLast;
	var lastPlayed;
	var lastStation;
	var currentStation;
	var currentArtist;
	var volume = 100;

	$('#report-song').click(function() {
		z = this.href.split(/song_id=|(?=&user_id)/);
		this.href = z[0] + 'song_id=' + z[z.length-1];
		if(!currentSong) {
			return false;
		}
		else {
			//console.log(this.href);
			y = this.href.split('song_id=');
			this.href = y[0] + 'song_id=' + currentSong['song_id'] + y[1];
			console.log(this.href)
			return true;
		}
	});

	$('#radio-stations a').click(function() {
		lastStation = currentStation
		if(lastStation !== this.id) {
			currentStation = this.id;
			console.log(currentSong);
			if(currentSong) {
				if(currentSong['upload_source'] === 'youtube') {
					ytPlayer.stopVideo();
				}
				else if(currentSong['upload_source'] === 'soundcloud') {
					scWidget.pause();
				}
				newSongsList();
			}
		}
	});

	$('#radio-controls #play-pause').click(function() {
		if(currentSong) {
			playPause();
		}
		else{
			newSongsList();
		}
	});

	$('#radio-controls #next-song').click(function() {
		if(currentSong) {
			if(currentSong['upload_source'] === 'youtube') {
				ytPlayer.stopVideo();
			}
			else if(currentSong['upload_source'] === 'soundcloud') {
				scWidget.pause();
			}
			playNextSong();
		}
	});

	$('#radio-controls #replay-song').click(function() {
		if(currentSong) {
			if(currentSong['upload_source'] === 'youtube') {
				ytPlayer.seekTo(0).playVideo();
			}
			else if(currentSong['upload_source'] === 'soundcloud') {
				scWidget.seekTo(0);
				scWidget.play();
			}
		}
	});

	$('#radio-controls #previous-song').click(function() {
		if(currentSong && songHistory.length > 0){
			playLast = true;
			$('#radio-controls #next-song').click();
		}
	});

	$('#volume-slider').simpleSlider({
		theme: 'volume',
		highlight: true
	});
	$('#volume-slider').simpleSlider('setValue', 1);
	$('#volume-slider').bind('slider:changed', function(event, data) {
		volume = Math.floor(data['value'] * 100);
		if(currentSong) {
			if(currentSong['upload_source'] === 'youtube') {
				ytPlayer.setVolume(volume);
			}
			else if(currentSong['upload_source'] === 'soundcloud') {
				scWidget.setVolume(volume);
			}
		}
	});

	function newSongsList() {
		var radioStation = {station: currentStation, played_songs: playedUpdate, user_id: currentUserId}
		$.ajax({
			url: '/request_playlist',
			data: radioStation,
			success: function(data) {
				songs = shuffleList(data);
				console.log(songs);
				if(songs.length > 0) {
					executePlaylist();
				}
			}
		});
		playedUpdate = [];
	}

	function playPause() {
		if(currentSong['upload_source'] === 'youtube') {
			var playerState = ytPlayer.getPlayerState();
			if(/[25]|-1/.test(playerState)){
				//Play video if it is paused (2), cued (5), or unstarted (-1)
				ytPlayer.setVolume(volume);
				ytPlayer.playVideo();
			}
			else if(/[13]/.test(playerState)) {
				//Pause video if already playing or buffering
				ytPlayer.pauseVideo();
			}
		}
		else if(currentSong['upload_source'] == 'soundcloud') {
			scWidget.isPaused(function(scPaused) {
				if(scPaused) {
					scWidget.setVolume(volume);
					scWidget.getVolume(function(data){console.log(data + ' playPause')});
					scWidget.play();
				}
				else {
					scWidget.pause();
				}
			});
		}
	}

	function showArtistInfo(song) {
		artistInfo = $('#artist-info');
		artistAttrs = song['artist_attrs']
		artistInfo.empty();
		for(var key in artistAttrs) {
			if(artistAttrs[key] !== null) {
				artistInfo.append(artistAttrs[key] + '<br>');
			}
		}
		artistInfo.append('<img src="' + song["photo"] + '"></img>')
	}

	function executePlaylist() {
		if(!ytPlayerReady) {
			//Wait until players are ready
			setTimeout(executePlaylist, 50);
		}
		else {
			//Once players are ready execute the playlist
			if(songs.length > 0) {
				var firstSong = songs[0];
				var firstSource = firstSong['upload_source'];
				$('.player').css('display','none');
				console.log('hiding .player');
				currentSong = firstSong;
				showArtistInfo(currentSong);
				if(firstSource === 'youtube') {
					$('#youtube').show();
					ytPlayer.loadVideoById(firstSong['song_id'], 'large');
					ytPlayer.setVolume(volume);
				}
				else if(firstSource === 'soundcloud') {
					initSCPlayer();
					$('#soundcloud').show();
				}
			}
		}
	}

	function playNextSong(){
		//Identify source of the next song and play it in the
		// appropriate player
		if(!playLast) {
			songHistory.push(songs.shift());
			playedUpdate.push(songHistory[songHistory.length - 1])
		}
		else {
			songs.unshift(songHistory.pop());
			playedUpdate.pop();
			playLast = false;
		}
		if(songs.length > 0) {
			var nextSong = songs[0];
			lastPlayed = currentSong;
			currentSong = nextSong;
			showArtistInfo(currentSong);
			//if( (songHistory.length > 0 || playLast) && (nextSong['upload_source'] !== lastPlayed['upload_source']) ) {
			$('.player').css('display','none');
			console.log('hiding .player');
			//}
			if(nextSong['upload_source'] === 'youtube') {
				ytPlayer.loadVideoById(nextSong['song_id'], 'large');
				ytPlayer.setVolume(volume);
				$('#youtube').show();
			}
			else if(nextSong['upload_source'] === 'soundcloud') {
				if(!scWidget) {
					initSCPlayer();
				}
				else {
					scWidget.load('http://api.soundcloud.com/tracks/' + nextSong['song_id'], {auto_play: true});
				}
				$('#soundcloud').show();
			}
		}
		else {
			//Songs list is now empty
			newSongsList();
		}
	}

	function shuffleList(lst) {
		var new_lst = lst;
		for (var i = new_lst.length - 1; i > 0; i--) {
			var j = Math.floor(Math.random() * (i + 1));
			var temp = new_lst[i];
			new_lst[i] = new_lst[j];
			new_lst[j] = temp;
		}
		return new_lst;
	}
	
	var ytPlayer;
	function onYouTubeIframeAPIReady() {
		ytPlayer = new YT.Player('youtube', {
			playerVars: {'rel': 0, 'html5': 1, 'controls': 0},
		  height: '320',
		  width: '566',
			events: { 
				'onReady': function() {
					ytPlayerReady = true;
				},
				'onStateChange': function(event) {
					console.log(event.data);
					if(event.data === 0) {
						playNextSong();
					}
				},
				'onError': function(event) {
					if(/100|101|150/.test(event.data)) {
						playNextSong();
					}
				}
			}
		});
	}

	function initSCPlayer() {
		//Load the SC player the first time a SC file is streamed in session
		if(songs.length > 0) {
			var song = songs[0];
			$('#soundcloud').html('<iframe id="sc-widget" width="566" height="320" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F' + song['song_id'] + '&show_artwork=true&auto_play=true"></iframe>');
			scWidget = SC.Widget($('#sc-widget')[0]);
			scWidget.bind(SC.Widget.Events.PLAY_PROGRESS, function() {
				scWidget.setVolume(volume);
			});
			scWidget.bind(SC.Widget.Events.READY, function() {
				scWidget.bind(SC.Widget.Events.FINISH, function() {
					playNextSong();
				});
				scWidget.bind(SC.Widget.Events.ERROR, function() {
					playNextSong();
				});
			});
		}
	}

	function arr_difference(a1, a2) {
		//Return an array that is the difference of a1 and a2
		difference = $.grep(a1,function(x) {return $.inArray(x, a2) < 0})
		return difference
	}

	$('#radio-stations #user-meta').click();
