#preferences
	= current_user.preferences
	- @active_songs = ArtistUpload.where(active: true)
	- @active_ids = {}
	-	@active_songs.each do |song|
		-	@active_ids[song.song_id.split(':')[-1]] = song.keywords
	= @active_ids

	= render "users/youtube_iframe_js", active_ids: @active_ids
