.title
	Terms of service 

.body
	#scrollbar-terms.custom-scroller
		.scrollbar
			.track
				.thumb
					.end
					
		.viewport
			.overview#available-uploads
				.block
					This agreement was written in English. Users agree to abide by the term set out below, as updated, in the use of SoundMelon.com and its service. 
					Last Revision Date: July 03, 2012
				.block.indent.clear
					1. The music store, radio, advertisement, and other media uploaded by users 
					.block.indent-2
						%span.bullet 	a. 
						%span.point Users may only upload and publish works that they own to right to sell or share. 
						%br.clear
						%span.bullet 	b. 
						%span.point Users may not download or use a publisher’s content without consent of the publisher. 
						%br.clear
						%span.bullet 	c. 
						%span.point Users may not create multiple accounts to increasing streaming allowance. 
						%br.clear
						%span.bullet 	d. 
						%span.point Content of the media should abide by the terms of Respect for Fellow Users (item 3). 
						%br.clear
						%span.bullet 	e. 
						%span.point By publishing your content on SoundMelon, publisher gives SoundMelon the right to promote, sell, and use said content. 
						%br.clear
						%span.bullet 	f. 
						%span.point For promotional purposes, SoundMelon has to right to put content on sale, and publisher will be compensated accordingly. 
						%br.clear
						%span.bullet 	g. 
						%span.point By selling your content, you agree to allow buyers the right of listening and downloading of such content. Buyer understands that the use of such content is for persona purpose only and shall not use it for commercial purpose without the consent of the publisher. 
						%br.clear
						%span.bullet 	h. 
						%span.point Users recognize that any media uploaded to SoundMelon is the property of SoundMelon. We have the right to keep such content on our database. SoundMelon will not use such content for personal purposes or are not in line with above terms. 
				.block.indent.clear
					2. Confidentiality 
					.block.indent-2
						%span.bullet 	a. 
						%span.point SoundMelon do not publish or sell any user information. While we strongly value and respect user’s privacy and confidentiality, users understand that any information uploaded to SoundMelon is the property of SoundMelon, and is viewable and controllable by SoundMelon. 
						%br.clear
						%span.bullet 	b. 
						%span.point SoundMelon will use such information to facilitate passive media promotion to achieve the goal of music discovery. 
						%br.clear
						%span.bullet 	c. 
						%span.point SoundMelon limit the use and storage of sensitive, personal and financial content. While we do not force such limitation, we encourage users to limit such information on SoundMelon.
				.block.indent.clear
					3. Respect for fellow users 
					.block.indent-2
						%span.bullet 	a. 
						%span.point While we recognize that the use of expression and expletive language is an art form, users may not engage in hateful, hurtful, racist, and other dehumanizing conversation against other uses. 
						%br.clear
						%span.bullet 	b. 
						%span.point In case of media with expletive content, publishers agree to tag such content with the “expletive” tag. 
						%br.clear
						%span.bullet 	c. 
						%span.point Users have control over and will set their own exposure to expletive content. 
						%br.clear
						%span.bullet 	d. 
						%span.point Users shall not engage in “spamming” practices against other users. 
						%br.clear
						%span.bullet 	e. 
						%span.point Users shall not express unreasonable harassment against SoundMelon’s staff. 
				.block.indent.clear
					4. Use of the SoundMelon’s content 
					.block.indent-2
						%span.bullet 	a. 
						%span.point All content presented on SoundMelon is a property of SoundMelon. User might not use such content for commercial purposes without the consent of SoundMelon 
						%br.clear
						%span.bullet 	b. 
						%span.point While SoundMelon recognize and embrace parody works, we encourage users to exercise such works in accordance to the terms set out in this agreement. SoundMelon shall have the right to exercise injunction of such works in accordance to the copy-right law. 
						%br.clear
						%span.bullet 	c. 
						%span.point Users shall not create multiple account to take advantage of free content or get around band control 
				.block.indent.clear
					5. Mobile and other Devices 
					.block.indent-2
						%span.bullet 	a. 
						%span.point All use of mobile and other devices shall abide by the terms set out by SoundMelon, as an extension to the website 
				.block.indent.clear
					6. Payment and Transaction record 
					.block.indent-2
						%span.bullet 	a. 
						%span.point SoundMelon uses expert transaction partners to handle payment and transaction record. We do not hold sensitive information such as VISA card number on the server. 
						%br.clear
						%span.bullet 	b. 
						%span.point Publisher shall use payment mechanism suggested by SoundMelon to facilitate payment. 
						%br.clear
						%span.bullet 	c. 
						%span.point Publisher will be paid 70% of the revenue received by SoundMelon. 
						%br.clear
						%span.bullet 	d. 
						%span.point SoundMelon will only send payment to one entity. The entity is responsible to facilitate its own profit distribution between stakeholders. 
				.block.indent.clear
					7. Change in Agreement 
					.block.indent-2
						%span.bullet 	a. 
						%span.point SoundMelon has the right to change the terms of service and agreement, and users shall abide by the new terms. Such changes will be notified to the user base. 
				.block.indent.clear
					8. Control of SoundMelon 
					.block.indent-2
						%span.bullet 	a. 
						%span.point In event of the breach of, or deviation from, the terms set out above, SoundMelon has full right to adjust, change, and remove the users or content in question 
				.block.indent.clear
					9. Liability to SoundMelon 
					.block.indent-2
						%span.bullet 	a. 
						%span.point In event of the breach of, or deviation from, the terms set out above, SoundMelon is in no way responsible for any legal issues, liabilities, or claims that might arise. 
						%br.clear
						%span.bullet 	b. 
						%span.point SoundMelon shall not be held responsible to any legal issues, liabilities, or claims due to uploaded content that does not abide by the terms. We encourage users to abide by the terms and understand that we are not able to control every single action done by our users. 
						%br.clear
						%span.bullet 	c. 
						%span.point SoundMelon is not responsible of 3rd party action or liability, SoundMelon is in no way	responsible for any legal issues, liabilities, or claims that might arise. 
				.block.indent.clear
					10. Termination 
					.block.indent-2
						%span.bullet 	a. 
						%span.point In event of the breach of, or deviation from, the terms set out above, SoundMelon has to right to terminate the user profile or content in question. 
				.block.indent.clear
					11. Disputes 
					.block.indent-2
						%span.bullet 	a. 
						%span.point This Agreement shall be governed by and construed in accordance with the laws of Ontario, Canada, without giving effect to any conflict or choice of law provisions. Although we encourage users to first contact customer service and resolve a dispute, any escalated dispute including but not limited to resolve of claim, cause of action or dispute (claim) you have with us arising out of or relating to this Statement or SoundMelon will be dealt in a Provence or federal court located in Ontario. 
						%br.clear
						%span.bullet 	b. 
						%span.point We try to provide our service in a safe and bug-free environment, but users shall use SoundMelon at your own risk. We provide the service of SoundMelon without any 		express or implied warranties on the function of merchantability, fitness for a particular purpose, non-infringement, or success of your career. Understand that website is often attacked, and while we will make our best effort to keep you safe, we cannot guarantee that SoundMelon will always be safe, secure, error-free, or function without disruption. 

:javascript
	$(document).ready(function(){
		$('#terms-page #scrollbar-terms').tinyscrollbar();
	});