- @user = current_user
- @meta_list = @user.user_meta.nil? ? [] : @user.user_meta
= form_for(@user, remote: true, url: update_user_meta_path) do |f|
	= f.hidden_field :id, value: @user.id
	= f.text_area :user_meta, value: @meta_list.join(', '), class: "fb-meta-tags"