#invites-page

	/ .top.section-wrapper
	/ 	- invites_left = 99
	/ 	.label.counter Invites Remaining: #{invites_left}
		
	.middle.section-wrapper
		
		#invite-list= render 'users/invite_list'

							
	/- if invites_left > 0
	.bottom.section-wrapper
		#invite-form= render 'users/invite_form'