#invites-page

	.top
		- invites_left = ENV['INVITE_LIMIT'].to_s.to_i - (current_user.invites.nil? ? 0 : current_user.invites.size)
		.label.counter Invites Remaining: #{invites_left}
		
	.middle
		
		#invite-list= render 'users/invite_list'

							
	- if invites_left > 0
		.bottom
			#invite-form= render 'users/invite_form'