:plain
	console.log('#{params}');
	$('.main_page_div').empty().html("#{escape_javascript( render 'users/init_fb_meta' )}");
	$('.footer').empty().html("#{escape_javascript( render partial: 'layouts/footer' )}");
