.container

	.sidebar
		.wrapper
			.chain
			.anchor
	
	.main-content

		.header
			%span add songs with
			

		.content
			.links
				.sc-link= link_to("SoundCloud", sc_request_path)
				.separator or
				.yt-link= link_to("YouTube", yt_request_path)
