- @user = current_user
#radio-fb-meta
	= form_for(@user, remote: true) do |f|
		- @user_likes = @user.fb_meta.keys if @user.fb_meta
		= f.label :fb_meta, "Your Likes"
		= f.text_area :fb_meta, value: @user_likes
