:plain

	$('.main_page_div').empty().html("#{escape_javascript( render template: 'users/show' )}");
	$(".modal#user-edit #user-settings").empty().html("#{escape_javascript( render 'users/settings' )}")

	ModalManager.enable();
	RadioManager.enable();

	$(document).mouseup(function(e) {
		var container = $('.modal, .volume-controls, .report-box');
		if(!container.is(e.target) && container.has(e.target).length == 0) {
			container.hide();
		}
	});