- if !current_user.terms
	= render 'users/terms_cond'
-else
	#user_page

		#radio-container
			#radio-view
				= render "users/radio_player"

:javascript
	$(document).ready(function() {
		$(document).mouseup(function(e) {
			var container = $('.modal, .volume-controls, .report-box');
			if(!container.is(e.target) && container.has(e.target).length == 0) {
				container.hide();
			}
		});
	});
