:plain
	console.log('#{@favorites}');
	$("#callout-wrapper #favorites-panel").html('#{j( render partial: "favorites_list", locals: {favorites: @favorites} )}');
	if(RadioManager.currentSong()) {
		RadioManager.updateFavoritesPlaylist();
	}