#user_page

	#radio-container
		#radio-view
			= render "users/radio_player"

	:javascript
		
		$(document).ready(function() {
			initHomeFunctionality();
			$(".bg-wrapper").css('opacity', 1);
		});

