#user_page

	#radio-container
		- no_first_song = defined?(first_song).nil?
		#radio-view{'data-first-song' => no_first_song ? '' : first_song, 'data-first-song-played' => 'false'}
			= render "users/radio_player"

	:javascript
		
		$(document).ready(function() {
			initHomeFunctionality();
			$(".bg-wrapper").css('opacity', 1);
		});

