:plain
	console.log('#{@song.inspect}');
	var state = '#{@song.active ? "active" : "inactive"}'
	$('#available-uploads ##{@song.song_id} .song-information span.state').removeClass('active inactive').addClass(state);
	$('#available-uploads ##{@song.song_id} .song-information span.state').text(state);