:plain
	var errorFlash = #{@messages.to_json};
	if(errorFlash) {
		FlashManager.showMessage(errorFlash);
	}
	else {
		$('#feedback-board .content').empty().html('<span>Thank you for your feedback! We love to hear from the Soundmelon community on what you love and what you would love to see changed.</span>');
	}

