:plain
	console.log('#{@report}');
	$('#feedback-new').empty().html('Thank you for your feedback! We love to hear from the Soundmelon community on what you love and what you would love to see changed.');
