:plain
	var errorFlash = #{@messages.to_json};
	if(errorFlash) {
		FlashManager.showMessage(errorFlash);
	}
	else {
		FlashManager.showMessage({
			message: 'Thank you for your feedback!',
			severity: 'notification'
		})
		$('#feedback-board .content .text-box').val('');
	}

