//browsers

.mobile:not(.ipad) {
	#page-content {
		width: 100%;
		max-width: 100%;
	}
	.inner-content {
		width: 80%;
		margin: 0 auto;
	}
}

.ipad {
	@media only screen and (orientation: landscape) {
		body > .footer {
			.logo {
				display: block;
				width: 450px;
				bottom: 0;
			}
			.right {float: right;}
		}
	}
}