//
//Mixins
@mixin set-placeholder-color($color) {
  ::-webkit-input-placeholder {
     color: $color;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: $color;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $color;  
  }

  :-ms-input-placeholder {  
     color: $color;  
  }
}

@-webkit-keyframes play {
  from {background-position: 0;}
  to {background-position: -424px;}
}
@-moz-keyframes play {
  from {background-position: 0;}
  to {background-position: -424px;}
}
@keyframes play {
  from {background-position: 0;}
  to {background-position: -424px;}
}