@import "compass/css3";

#music-add {
	//Styles for Add Music Accounts
	left: -80px;
	bottom: 102px;
	height: 90px;
	
	.main-content {
		left: 190px;
		top: -13px;
	}
	
	.sidebar {
		
		.wrapper {
			
			.chain {
				background: url('/assets/music-add.png');
				height: 99px;
				width: 104px;
				top: 50px;
				left: 110px;
			}
			
			.anchor {
				top: 150px;
				left: 201px;
			}
			
		}
	}
	
	.header {
		height: 29px;
		text-align: center;
	}
	
	.content {
		height: 61px;
		@include border-radius(8px);
		
		.links {
			position: absolute;
			top: 47px;
			left: 41px;
			
			> div {
				display: inline-block;
				
				a {
					text-decoration: none;
				}
			}
			
			.separator {
				font-size: 16px;
				margin: 0 4px;
			}
			
		}
	}
//End of styles for Add Music Accouts
}