@import "compass/css3";

#music-add {
	//Styles for Add Music Accounts
	// left: -80px;
	// bottom: 102px;
	height: 90px;
	right: 75px;
	width: auto;
	.main-content {
		// left: 190px;
		// top: -34px;
	}
	
	.sidebar {
		bottom: 211px;
		.wrapper {
			
			.chain {
				background: url('/assets/music-add.png');
				height: 99px;
				width: 104px;
				top: 52px;
				left: -89px;
			}
			
			.anchor {
				top: 153px;
				left: 3px;
			}
			
		}
	}
	
	.header {
		height: 29px;
		text-align: center;
	}
	
	.content {
		height: 61px;
		@include border-radius(8px);
		
		.links {
			position: absolute;
			top: 47px;
			left: 41px;
			
			> div {
				display: inline-block;
				
				a {
					text-decoration: none;
				}
			}
			
			.separator {
				font-size: 16px;
				margin: 0 4px 2px;
				vertical-align: middle;
			}
			
		}
	}
//End of styles for Add Music Accouts
}