@import "compass/css3";

.sub-label {
	font-family: HelveticaNeue;
	font-size: 12px;
	margin-left: 13px;
	margin-right: 12px;
}

.modal#artist-profile {
	//Styles for Music Admin
	bottom: 255px;
	right: -175px;
	
	.sidebar {
		background: url('/assets/artist-profile.png') no-repeat;
		width: 151px;
		height: 133px;
		left: -130px;
		top: 292px;
		
		.anchor {
			top: 55px;
			left: 77px;
		}
	}
	
	.main-content {
		top: -175px;
		
		.header {
			position: relative;
			top: -43px;
			
			.right {
				width: 100%;
			}
		}
		
		.content {
			height: 518px;
			@include border-radius(8px);
			text-transform: none;
			
			#artist-profile-form {
				position: relative;
				
				.form-block {
					width: 100%;
					position: absolute;
				}
				
				.name {
					height: 42px;
					top: 9px;
				}
				
				.website {
					top: 261px;
					
					.text-box {
						width: 196px;
					}
				}
				
				.artist-tags {
					
					.tag-form {
						position: relative;
						
						.tagsinput {
							position: absolute;
							left: 7px;
							top: 7px;
						}
					}
				}
				
				.photo {
					height: 185px;
					top: 62px;
					border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
					border-top: 2px dashed rgba(255, 255, 255, 0.2);
					
					.label {
						display: block;
						margin-left: 13px;
						margin-top: 10px;
					}
					
					.photo-edit {
						
						.content {
							height: 100%;
							width: 69%;
							margin: 20px auto;
							
							.preview, .submit-wrapper{
								display: inline-block;
								border: 2px solid rgb(221,221,221);
								@include border-radius(3px);
								position: relative;
							}
							
							.overlay, .preview, .underlay {
								position: absolute;
							}
							
							.overlay {
								cursor: pointer;
								z-index: 2;
								opacity: 0;
							}
							
							.upload-wrapper {
								width: 68px;
								height: 68px;
								display: inline-block;
								
								.preview {
									width: 64px;
									height: 64px;
									
								}
								
								.file-select {
									height: 68px;
									width: 68px;
								}
							}
							
							.submit-wrapper {
								height: 31px;
								width: 131px;
								top: -16px;
								
								.underlay {
									height: 27px;
									width: 128px;
									text-transform: uppercase;
									text-align: center;
								}
								
								.overlay {
									height: 100%;
									width: 100%;
								}
							}
						}

					}
				}
				
				.artist-tags {
					top: 322px;
				}
			}
		}
	}
}