// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";

.sc-link {
	a {color: rgb(251,91,0);}
	&:hover {
		a {color: lighten(rgb(251,91,0), 10);}
	}
}

.yt-link {
	a {color: rgb(228,54,55);}
	&:hover {
		a {color: lighten(rgb(228,54,55), 10);}
	}
}

.div-link {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0;
}

.song-basic {
	
	.song-image {
		height: 68px;
		width: 125px;
		@include border-radius(10px);
		background-size: 100% 100%;
		// display: inline-block;
		float: left;
		margin: 3px 0 0 3px;
	}

	.brand-logo {
		height: 26px;
		width: 50px;
		float: right;
		margin: 3px;
		
		&.source-yt {
			background: url('/assets/yt-logo.png') center no-repeat;
			background-size: contain;
			
		}
		
		&.source-sc {
			background: url('/assets/sc-logo.png') center no-repeat;
			background-size: contain;
			width: 35px;
			height: 25px;
		}
	}

	.song-information {
		// width: 53%;
		overflow: hidden;
		padding-left: 5px;
		
		span {
			padding: 0;
			display: block;
		}
		
		.song-title {
			color: rgba(white, 0.8);
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			height: 27px;
		}
		
		.duration {
			font-size: 16px;
			color: rgba(white, 0.5);
		}
		
		.state {
			font-family: HelveticaNeue;
			font-size: 12px;
			padding-top: 4px;
			
			&.inactive {
				color: rgba(red, 0.7);
			}
			
			&.active {
				color: rgba(36,255,0, 0.7);
			}
		}
	}
}