@import "compass/css3";

.sub-label {
	font-family: HelveticaNeue;
	font-size: 12px;
}

.modal#artist-profile {
	//Styles for Music Admin
	width: auto;
	// bottom: 255px;
	// right: -175px;
	
	// .chain {
	// 	background: url('/assets/artist-profile.png') no-repeat;
	// 	width: 151px;
	// 	height: 133px;
	// 	left: -130px;
	// 	top: -17px;
	// }
	// .anchor {
	// 	// top: 107px;
	// 	left: -53px;
	// }
	
	.main-content {
		// top: -175px;
		
		// .header {
		// 	position: relative;
		// 	top: -49px;
		// }
		
		.content {
			// height: 518px;
			// @include border-radius(8px);
			text-transform: none;
			
			.text-box {
				// line-height: auto;
				padding: 0 0 0 5px;
			}
			
			#artist-profile-form {
				position: relative;
				
				.form-block {
					padding: 10px 0;
					text-align: left;
				}
				.label {
					margin: 8px 0 0;
					float: left;
				}
				// .name {
				// 	height: 42px;
				// 	.label {
				// 		position: relative;
				// 		top: 10px;
				// 	}
					input.text-box {
						float: right;
					}
				// }
				
				.website {
					// top: 261px;
					
					.text-box {
						width: 185px;
					}
				}
				
				.artist-tags {
					.tag-form {
						padding: 10px 0 0;
					}
				}
				
				.photo {
					
					.label {
						display: block;
						margin: 0;
					}
					
					.photo-edit {
						
						.content {
							height: 100%;
							text-align: center;
							margin-top: 10px;
							background: none;
							
							.preview, .submit-wrapper{
								display: inline-block;
								border: 2px solid rgb(221,221,221);
								@include border-radius(3px);
								position: relative;
							}
							
							.overlay, .preview, .underlay {
								position: absolute;
							}
							
							.overlay {
								cursor: pointer;
								z-index: 2;
								opacity: 0;
							}
							
							.upload-wrapper {
								width: 75px;
								height: 75px;
								float: left;
								
								.preview {
									width: 74px;
									height: 74px;
									
								}
								
								.file-select {
									height: 75px;
									width: 75px;
								}
							}

							.action-buttons {
								overflow: hidden;
								padding-left: 20px;
							}
							
							.submit-wrapper {
								height: 31px;
								width: 131px;
								// top: -16px;
								opacity: 0.7;

								&:hover {opacity: 1;}
								&.disabled {
									opacity: 0.3;
									&:hover {opacity: 0.3;}
									.overlay {
										cursor: default;
									}
								}
								
								.underlay {
									height: 100%;
									width: 100%;
									text-transform: uppercase;
									text-align: center;
									line-height: 34px;
								}
								
								.overlay {
									height: 100%;
									width: 100%;
									top: 50%;
									@include transform(translateY(-50%));
								}
							}
						}

					}
				}
				
				.artist-tags {
					top: 322px;
				}
			}
		}
	}
}

/* IE Specific Artis Panels Styles */
// html[data-useragent*='MSIE 10.0'], html[data-useragent*='Windows NT 6.3'] {
	
// 	.modal#artist-profile {
	
// 		.sidebar {
// 			// top: 294px;
// 		}
	
// 	}
// }