@import "compass";
@import "variables";
@import "controls";

a, a:link, a:visited {
	text-decoration: none;
}

//
//main content
.wrapper {
	position: absolute;
	top: 50%;
	width: 100%;
	
	.main-content {
		margin: -240px -($footer-height / 2) auto 0px auto;
		width: 640px;
		height: 480px;
		//background: rgba(white, .2);
		//@include border-radius(6px);
		
		.inner-content {
			text-align: center;
		}
		
		.log-in a {
			color: $bg-text-highlight;
			opacity: .6;
			
			&:hover { opacity: .8; };
		}
	}
}

.hidden {
	display: none;
}

.hover-link {
	&:hover { cursor: pointer; };
}

//
//footer
body > .footer {
	@include background(linear-gradient(rgba(black, .7), black));
	height: $footer-height;
	width: 100%;	
	position: fixed;
	bottom: 0px;
	font-family: 'HelveticaNeue';
	font-size: 14px;
	color: white;
	
	.logo {
		position: absolute;
		left: 18px;
		bottom: $footer-height - 55px;
//		display: none;
	}
	
	.right {
		float: right;
		position: relative;
		width: 562px;
		top: 17px;
		right: 23px;
		color: rgba(white, .8);
		
		small {
			float: right;
			
			.menu {
				span {
					padding: 0 7px;
					font-size: 14px;
					
					a {
						text-decoration: none;
						color: rgb(244,72,72);
					}
				}
				
				.menu-artist {			
					a {
						color: rgb(58,235,90);
					}
				}
			}
		}
	}

	#more-info { display: none; }
}

//
//core
.bg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
	background: url('/assets/core/background.jpg') center no-repeat;
	background-size: 100% 100%;
  z-index: -1;
	
	.bg-img {
	  display: block;
	}
}

//
//other
.modal {
	display: none;
	position: absolute;
	height: 200px;
	width: 500px;
	bottom: 91px;
	right: -8px;
	
	.container {
		
		font-family: FuturaCondensedMedium;
		font-size: 26px;
		text-transform: uppercase;
		position: relative;
		
		.sidebar, .main-content {
			display: inline-block;
			position: absolute;
		}
		
		.sidebar {
			.wrapper {
				position: relative;
				
				.chain, .anchor {
					position: absolute;
				}
				
				.anchor {
					height: 9px;
					width: 18px;
					background: url('/assets/callout-dot.png');
				}
			}
		}
		
		.main-content {
			width: 302px;
		}
		
		.header {
			top: -18px;
			
			> div {
				display: inline-block;
			}
			
			span {
				color: rgba(black, 0.5);
			}
			
			.right {
				width: 50%;
				right: 11px;
				text-align: right;
			}
			
			.left {
				text-align: left;
				width: 33%;
				text-align: right;
				position: absolute;
				left: 7px;
				top: 17px;
			}
		}
		
		.content {
			background: black;
		}
	}
}

.hide-form {
	display: none;
}

.form-block {
	width: 100%;
	position: absolute;
}

.spinner {
	background-image: url('/assets/loader.gif');
	height: 24px;
	width: 24px;
	background-size: 100% 100%;
	display: none;
}

.tick-mark {
	height: 24px;
	width: 24px;
	background-size: 100% 100%;
	display: none;
}

.check-mark {
	background-image: url('/assets/check_mark.png');
}

.x-mark {
	background-image: url('/assets/x_mark.png');
}

#fb-meta-panel{
	display: none;
}

/* IE Specific Radio Styles */
html[data-useragent*='MSIE 10.0'], html[data-useragent*='Windows NT 6.3'] {
	body > .footer {
		.right {
			top: 15px;
		}
	}
}

/* Firefox Specific Radio Styles  */
html[data-useragent*='Firefox'] {
	body > .footer {
		.right {
			top: 17px;
		}
	}
}
