@import "compass";
@import "variables";
@import "controls";
//@import "custom_mixins";

$artist-green: #36d251;
$hover-green: #8aff9a;

// @include set-placeholder-color(rgba(white, 0.8));
a, a:link, a:visited {
	text-decoration: none;
}

::-webkit-input-placeholder {
   color: rgba(white, 0.2);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(white, 0.2);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(white, 0.2);  
}

:-ms-input-placeholder {  
   color: rgba(white, 0.2);  
}

//
//main content
.wrapper {
	position: absolute;
	top: 50%;
	width: 100%;
	
	#page-content {
		margin: -240px -($footer-height / 2) auto 0px auto;
		width: 564px;
		height: 480px;
		//background: rgba(white, .2);
		//@include border-radius(6px);
		
		.inner-content {
			text-align: center;
		}
		
		.log-in a {
			color: $bg-text-highlight;
			opacity: .6;
			
			&:hover { opacity: .8; };
		}
	}
}

.hidden {
	display: none;
}

.hover-link {
	cursor: pointer;
}
.menu-hover {
	color: rgba(white, 0.8);
	&.menu-artist { color: $artist-green; }
	&:hover {
		color: white;
		&.menu-artist {color: $hover-green;}
	}
}
.menu-active {
	color: white;
	&.menu-artist {color: $hover-green;}
	.link-icon {
		opacity: 1 !important;
	}
}

//
//core
.bg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
	background: url('/assets/core/background.jpg') center no-repeat;
	background-size: cover;
  z-index: -1;
  opacity: 0.7;
	
	.bg-img {
	  display: block;
	}
}

.splash-bg {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
	height: 100%;
	width: 100%;
	position: absolute;
}

.hide-form {
	display: none;
}

.form-block {
	width: 100%;
	// position: absolute;
}

.result-copy {
	padding: 10px 0;
	font-family: FuturaBook;
}

.input-wrapper {
	margin: 7px 0;
}

// .spinner {
// 	background-image: url('/assets/loader.gif');
// 	height: 24px;
// 	width: 24px;
// 	background-size: 100% 100%;
// 	display: none;
// }

.spinner {
	background-image: url('/assets/loader.png');
	&.white-spinner {
		background-image: url('/assets/loader_white.png');
		opacity: 0.8;
	}
	// background-image: url('/assets/loader_white.png');
	// background-image: url('/assets/loader_gray.png');
	height: 24px;
	width: 24px;
	background-size: 877%;
	// @include animation(play .5s steps(8) infinite);
	-webkit-animation: play .5s steps(8) infinite; /* Safari 4+ */
	-moz-animation:    play .5s steps(8) infinite; /* Fx 5+ */
	-o-animation:      play .5s steps(8) infinite; /* Opera 12+ */
	animation:         play .5s steps(8) infinite; /* IE 10+, Fx 29+ */
	position: relative;
	display: none;
	// top: calc(50% - 26px);
	// left: calc(50% - 27px);
	// display: none;
}

.tick-mark {
	height: 24px;
	width: 24px;
	background-size: 100% 100%;
	display: none;
}

.check-mark {
	background-image: url('/assets/check_mark.png');
}

.x-mark {
	background-image: url('/assets/x_mark.png');
}

#fb-meta-panel{
	display: none;
}

.vertical-divider {
	height: 70px;
	width: 4px;
	display: inline-block;
	background: url('/assets/vertical-divider.png') center no-repeat;
	// opacity: 0.5;
}

.rounded-bottom {
	position: absolute;
	bottom: 0;
	height: 8px;
	width: 100%;
	@include background(linear-gradient(rgba(black, 0), rgba(black, 1)));
	@include border-radius(0 0 8px 8px);
}

/* IE Specific Radio Styles */
// html[data-useragent*='MSIE 10.0'], html[data-useragent*='Windows NT 6.3'] {
// 	body > .footer {
// 		.right {
// 			top: 15px;
// 		}
// 	}
// }

/* Firefox Specific Radio Styles  */
// html[data-useragent*='Firefox'] {
// 	body > .footer {
// 		.right {
// 			top: 17px;
// 		}
// 	}
// }
