//browsers

.mobile:not(.ipad) {
	#page-content {
		width: 100%;
		max-width: 100%;
	}
	.inner-content {
		width: 80%;
		margin: 0 auto;
	}
}

.ipad {
	@media only screen and (orientation: landscape) {
		body > .footer {
			.logo {
				display: block;
				width: 450px;
				bottom: 0;
			}
			.right {float: right;}
		}
	}

	.modal#artist-profile .main-content > .content, .modal#music-admin .main-content .content .viewport, .signup-wrapper .body, .tagsinputr {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.modal#user-invites .main-content .content #invites-page .bottom .text-button.submit-invite .text-box {
		padding: 4px 0 0 5px;
		height: 33px;
	}

	.modal#music-admin .main-content.song-view .content .song-form {
		.source-tags {
			margin-top: 0;
		}
		.song-state {padding-bottom: 8px;}
	}
}