@import "compass/css3";

.content-wrapper {
	position: relative;
	
	.radio-wrapper, .callout-wrapper {
		display: inline-block;
		position: absolute;
	}
	
	.callout-wrapper {
		width: 225px;
		height: 484px;
		right: 31%;
		z-index: -1;
		background: white;
		@include border-top-right-radius(8px);
		@include border-bottom-right-radius(8px);

		.spinner {
			position: absolute;
			top: 21px;
			right: 5%;
			z-index: 10;
		}


		.anchor {
			position: absolute;
			z-index: 3;
			width: 0; 
			height: 0; 
			border-bottom: 10px solid transparent;
			border-top: 10px solid transparent;
			border-right: 10px solid white;
			top: 371px;
			left: -10px;
			opacity: 0;
		}
	}
	.radio-wrapper {
		// z-index: 2;
	}

	.section-wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.list-item {
		padding: 12px 5% 8px;
		// margin: 5px 0 0;
		color: rgba(black, 0.6);
		font-family: HelveticaNeue;

		.callout-sprite {cursor: pointer;}

		&:nth-child(1) {
			padding-top: 16px;
		}
		&:last-child {@include border-radius(0 0 8px 0);}

		&:hover {
			background: rgba(250,234,233, 0.5);
		}
		&.current {
			background: rgb(250,234,233);
			color: black;

			.play-pause {
				background-position: 50% 0;
				&.play {background-position: 0 0;}
			}
		}
	}

	.no-info {
		text-align: center;
		position: relative;
		top: 166px;
		font-size: 21px;
		text-transform: uppercase;
		color: rgba(black, 0.2);
		font-family: FuturaCondensedMedium;
		.title {
			text-transform: none;
			margin-top: 20px;
			cursor: default;
		}
	}
	.title {
		font-size: 16px;
		cursor: pointer;
	}
	.sub-title {font-size: 12px;}

	.item-info, .item-controls, .callout-sprite {display: inline-block; vertical-align: top;}

	.item-info {
		width: 70%;
	}
	.item-controls {
		width: 25%;
		position: relative;
		top: 5px;
		.callout-sprite {
			position: relative;
			opacity: 0.3;
			&:hover {opacity: 0.8;}
		}
	}

	.sortable-placeholder {
		height: 53px;
		border: 1px dashed rgba(black, 0.4);
	}

}

.callout-wrapper .callout {
	height: 100%;
	background: white;
	@include border-top-right-radius(8px);
	@include border-bottom-right-radius(8px);
	display: none;

	.container {
		overflow-y: auto;
		overflow-x: hidden;

		.wrapper {
			top: 0;
			position: relative;
			height: 484px;
			@include border-top-right-radius(8px);
			@include border-bottom-right-radius(8px);

			> div:nth-child(1) {@include border-top-right-radius(8px);}

			.profile-picture, .content, .suggested {
				// position: absolute;
			}
			
			.profile-picture {
				height: 225px;
				width: 225px;
				
				// display: inline-block;
			}
			
			.content {
				background: rgb(242,242,242);
				padding: 15px 5%;
				
				.label {
					font-family: FuturaCondensedLight;
					font-size: 32px;
					color: rgba(black, 0.7);
				}
				
				.sub-label {
					font-family: HelveticaNeueLight;
					font-size: 12px;
					color: rgba(black, 0.5);
					margin: 0;
					
					.data {
						font-family: HelveticaNeue;
						
						a {
							text-decoration: underline;
							color: rgba(black, 0.5);
						}
					}
				}

			}
			
			.artist-social {
				color: rgba(black, 0.7);
				text-transform: underline;
				@include border-bottom-right-radius(8px);

				.no-info {top: 65px;}

				.social-items {
					padding: 15px 0 11px;
					text-align: center;
					border-bottom: 1px dashed rgb(196,196,196);
					width: calc(100% - 30px);
					margin: 0 auto;
				}
				.label {
					font-family: FuturaCondensedMedium;
					font-size: 18px;
					color: rgba(black, 0.8);
					text-transform: uppercase;
					display: inline-block;
					position: relative;
					top: -6px;
				}
				.artist-link {
					margin-left: 4px;
					display: inline-block;
					&:nth-child(1) {margin-top: 0;}
					&:last-child {margin-bottom: 0;}
				}
				.prefix {
					font-size: 14px;
					font-family: HelveticaNeueLight;
				}
				.artist-social-link {
					font-family: HelveticaRoman;
					font-size: 20px;
					text-transform: capitalize;
					a {color: inherit;}
				}
			}

			.song-list {


			}

			.stations {
				.item-controls {
					float: right;
					top: 0;
					width: auto;
				}
			}
			
		}
	}

	// &#show-artist-profile {
	// 	.wrapper {height: 444px;}
	// }

	&#radio-stations {
		.station-item {
			position: relative;
			min-height: 33px;

			.item-info {
				position: absolute;
				top: 50%;
				@include transform(translateY(-40%));
			}
			.item-controls {top: 3px;}
		}
	}

}