@import "compass/css3";
@import "variables";

//
//buttons
@mixin splash-fb-button(){
	@include border-radius($radius);
	@include single-box-shadow(rgba(black, .05), 0px, 3px, 6px);
	@include background(linear-gradient(90deg, rgba(#7eabdd, .8), rgba(#4e8bad, .8)));
	border: none;
	padding: 10px;
	color: white;
	font-size: 24px;	
	display: inline-block;
	font-family: FuturaCondensedMedium;
	text-decoration: none;
	cursor: pointer;
	
	&:hover {
		@include background(linear-gradient(90deg, rgba(#8ebbed, .8), rgba(#6e9bcd, .8)));
	};
}
@mixin splash-generic-button(){
	@include border-radius($radius);
	@include single-box-shadow(rgba(black, .05), 0px, 3px, 6px);
	@include background(linear-gradient(90deg, rgba(white, .8), rgba(white, .5)));
	border: 1px solid rgba(black, .3);
	padding: 10px;
	color: rgba(black, .6);
	font-size: 24px;
	display: inline-block;
	font-family: FuturaCondensedMedium;
	text-decoration: none;
	
	&:hover {
		@include background(linear-gradient(90deg, rgba(white, 1), rgba(white, .7)));
	};
}

.button {
	display: inline-block;
	@include border-radius(4px);
	text-transform: uppercase;
	text-align: center;
	
	&.cancel {
		cursor: pointer;
		color: white;
		@include background(linear-gradient(rgb(59,59,59), rgb(53,53,53)));
	}
	
	&.submit {
		@include background(linear-gradient(rgb(215,215,215), rgb(207,207,207)));
		color: rgba(black, 0.8);
		
		.submit-wrapper {
			position: relative;
			
			.overlay {
				position: absolute;
				cursor: pointer;
				opacity: 0;
				z-index: 2;
			}
		}
	}
}

//
//modal
@mixin footer-modal(){
	@include border-radius($radius);
	@include single-box-shadow(rgba(black, .1), 0px, 3px, 6px);
	background: rgba(black, .7);
	color: white;
	padding: 5px;
	position: fixed;
	bottom: 70px;
	right: 20px;
	width: 400px;
	min-height: 150px;
}

//
//shapes
