@import "compass/css3/background-size";
@import "compass/css3/text-shadow";
@import "variables";

//
//basics
html, body {
  padding: 0px;
  margin: 0px;
  font-family: "Trebuchet MS", arial, verdana, tahoma;
  font-size: 13px;  
	font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body { 
	//background: url(core/background.jpg) no-repeat;
	//@include background-size(cover);
	background: #9d74fe;
}
img { 
  border: none; 
  vertical-align: middle;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: #f44848;
  &:hover { text-decoration: none; color: #ff9393; }

  &.filled-link {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0;
  	left: 0;
  }
}

//
//font styles
h1, h2, h3 {
	font-family: FuturaCondensedMedium;
}
h1 {
	font-size: 28px;
}
.bg-faded {
	opacity: .5;
	font-weight: bold;
	@include single-text-shadow(0px, 1px, 0px, false, white);
}
.bg-title {
	opacity: .4;
	@include single-text-shadow(0px, 1px, 0px, false, white);
}

//
//fonts
@font-face {
	font-family: FuturaBook;
	src: url('FuturaBook.ttf'), url('FuturaBook.eot');
}
@font-face {
	font-family: FuturaLight;
	src: url('FuturaLight.ttf'), url('FuturaLight.eot');
}
@font-face {
	font-family: FuturaCondensedBold;
	src: url('FuturaCondensedBold.eot?') format('eot'), url('FuturaCondensedBold.woff') format('woff'), url('FuturaCondensedBold.ttf') format('ttf');
}
@font-face {
	font-family: FuturaCondensedMedium;
	src: url('FuturaCondensedMedium.eot?') format('eot'), url('FuturaCondensedMedium.woff') format('woff'), url('FuturaCondensedMedium.ttf') format('ttf');
}
@font-face {
	font-family: FuturaStdCondensedLight;
	src: url('FuturaStd-CondensedLight.eot?') format('eot'), url('FuturaStd-CondensedLight.woff') format('woff'), url('FuturaStd-CondensedLight.ttf') format('ttf');
}
@font-face {
	font-family: FuturaHeavy;
	src: url('FuturaHeavy.eot?') format('eot'), url('FuturaHeavy.woff') format('woff'), url('FuturaHeavy.ttf') format('ttf');
}
@font-face {
	font-family: HelveticaNeue;
	src: url('HelveticaNeueLTStd-Md.eot?') format('eot'), url('HelveticaNeueLTStd-Md.woff') format('woff'), url('HelveticaNeueLTStd-Md.ttf') format('ttf');
}
@font-face {
	font-family: HelveticaNeueLight;
	src: url('HelveticaNeueLTStd-Lt.eot?') format('eot'), url('HelveticaNeueLTStd-Lt.woff') format('woff'), url('HelveticaNeueLTStd-Lt.ttf') format('ttf');
}
