@import "compass/css3/background-size";
@import "compass/css3/text-shadow";
@import "variables";

//
//basics
html, body {
  padding: 0px;
  margin: 0px;
  font-family: "Trebuchet MS", arial, verdana, tahoma;
  font-size: 13px;  
	font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body { 
	//background: url(core/background.jpg) no-repeat;
	//@include background-size(cover);
	background: #9d74fe;
}
img { 
  border: none; 
  vertical-align: middle;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  // color: #f44848;
  // &:hover { text-decoration: none; color: #ff9393; }

  &.filled-link {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0;
  	left: 0;
  }
}

//
//font styles
h1, h2, h3 {
	font-family: FuturaCondensedMedium;
}
h1 {
	font-size: 28px;
}
.bg-faded {
	opacity: .5;
	font-weight: bold;
	@include single-text-shadow(0px, 1px, 0px, false, white);
}
.bg-title {
	font-size: 48px;
	font-family: FuturaCondensedLight;
  text-transform: lowercase;
	color: rgba(black, 0.35);
	@include text-shadow(0 1px 0 rgba(white, 0.25));
	text-align: center;
	margin-bottom: 50px;
}

.left {float: left;}
.right {float: right;}
.clear {clear: both;}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

//
//Icons
.link-icon {
  height: 28px;
  width: 28px;
  margin: 0 auto;
  // background-image: url('/assets/footer-sprites.png');
  background-image: url('/assets/footer-sprites-2.png');
  background-repeat: no-repeat;
  &.edit-music-icon, &.add-music-icon {
    background-position: 100% 0;
    background-size: 435%;
  }
  &.artist-profile-icon {
    background-position: 100% 100%;
    background-size: 435%;
  }
  &.feedback-icon {
    background-position: 67% 100%;
  }
  &.settings-icon {
    background-position: 33% 100%;
  }
  &.logout-icon {
    background-position: 67% 0;
  }
  &.invites-icon {
    background-position: 33% 0;
  }
  // &.about-icon {
  //   background-position: 86% 0;
  // }
}

.callout-sprite {
  height: 20px;
  width: 20px;
  background-image: url('/assets/callout-sprite.png');
  background-repeat: no-repeat;
  &.play {
    background-position: 0 0;
  }
  &.remove {
    background-position: 25% 0;
  }
  &.pause {
    background-position: 50% 0;
  }
}

.sm-social-icon {
  height: 40px;
  width: 40px;
  background-image: url('/assets/sm-cta-sprite.png');
  opacity: 0.8;
  &:hover {opacity: 1;}

  &.twitter {
    background-position: 100% 0;
  }
}

.artist-social-icon {
  height: 27px;
  width: 27px;
  background-image: url('/assets/artist-social-icons.png');
  background-repeat: no-repeat;
  position: relative;
  opacity: 0.75;
  &:hover {opacity: 1;}
  &.facebook {
    background-position: 50% 0;
  }
  &.website {
    background-position: 100% 0;
  }
}
.itunes-logo {
  height: 40px;
  width: 110px;
  background: url('/assets/itunesLogo.png') center no-repeat;
  margin: 32px auto 0;
  position: relative;
}

.reload-content {
  // display: inline-block;
  
  height: 25px;
  width: 25px;
  position: relative;
  // top: 3px;
  background: url('/assets/reload.png') left no-repeat;
  opacity: 0.5;
  background-size: contain;
  cursor: pointer;
  
  &:hover {
    opacity: 0.7;
  }
}

.favorite-icon {
  background-image: url('/assets/favorite.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
  &.filled {
    background-image: url('/assets/favorite-filled.png');
  }
}
.share-icon {
  background-image: url('/assets/share.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
}

.clipboard-icon {
  background: url('/assets/clipboard.png') center / contain no-repeat;
  height: 16px;
  width: 14px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: -3px;
}

.sprite {
  background-image: url('/assets/sprite-sheet.png');
  background-repeat: no-repeat;

  &.exclaim {
    height: 24px;
    width: 24px;
    &.black {background-position: 0 0;}
    &.red {background-position: 0 100%;}
  }
}

.col {display: inline-block;}
.col-2-3 {width: 67%;}
.col-1-3 {width: 33%;}
.col-1-4 {width: 25%;}
.col-3-4 {width: 75%;}
.col-1-2 {width: 50%;}

//
//fonts
// @font-face {
// 	font-family: FuturaBook;
// 	src: url('FuturaBook.ttf'), url('FuturaBook.eot');
// }
// @font-face {
// 	font-family: FuturaLight;
// 	src: url('FuturaLight.ttf'), url('FuturaLight.eot');
// }
// @font-face {
// 	font-family: FuturaCondensedBold;
// 	src: url('FuturaCondensedBold.eot?') format('eot'), url('FuturaCondensedBold.woff') format('woff'), url('FuturaCondensedBold.ttf') format('ttf');
// }
// @font-face {
// 	font-family: FuturaCondensedMedium;
// 	src: url('FuturaCondensedMedium.eot?') format('eot'), url('FuturaCondensedMedium.woff') format('woff'), url('FuturaCondensedMedium.ttf') format('ttf');
// }
// @font-face {
// 	font-family: FuturaHeavy;
// 	src: url('FuturaHeavy.eot?') format('eot'), url('FuturaHeavy.woff') format('woff'), url('FuturaHeavy.ttf') format('ttf');
// }
// @font-face {
// 	font-family: HelveticaNeue;
// 	src: url('HelveticaNeueLTStd-Md.eot?') format('eot'), url('HelveticaNeueLTStd-Md.woff') format('woff'), url('HelveticaNeueLTStd-Md.ttf') format('ttf');
// }
// @font-face {
// 	font-family: HelveticaNeueLight;
// 	src: url('HelveticaNeueLTStd-Lt.eot?') format('eot'), url('HelveticaNeueLTStd-Lt.woff') format('woff'), url('HelveticaNeueLTStd-Lt.ttf') format('ttf');
// }
@font-face {
  font-family: HelveticaNeue;
  src: url('HelveticaNeueLTStd-Md.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HelveticaNeueLTStd-Md.woff') format('woff'), /* Modern Browsers */
       url('HelveticaNeueLTStd-Md.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HelveticaNeueLTStd-Md.svg#297525cf3c6ba1ff86516c4aa7d9abf5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


@font-face {
  font-family: HelveticaNeueLight;
  src: url('HelveticaNeueLTStd-Lt.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HelveticaNeueLTStd-Lt.woff') format('woff'), /* Modern Browsers */
       url('HelveticaNeueLTStd-Lt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HelveticaNeueLTStd-Lt.svg#ab53f55f9c010d958855493bf21fef17') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


@font-face {
  font-family: HelveticaRoman;
  src: url('HelveticaNeueLTStd-Roman.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HelveticaNeueLTStd-Roman.woff') format('woff'), /* Modern Browsers */
       url('HelveticaNeueLTStd-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HelveticaNeueLTStd-Roman.svg#06ce8507218b5fc98ef98a8271373604') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'FuturaCondensedLight';
  src: url('FuturaStd-CondensedLight.eot'); /* IE9 Compat Modes */
  src: url('FuturaStd-CondensedLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FuturaStd-CondensedLight.woff') format('woff'), /* Modern Browsers */
       url('FuturaStd-CondensedLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FuturaStd-CondensedLight.svg#a13de1d7de84a797fc7dcd1e1f7ca920') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}
@font-face {
  font-family: FuturaHeavy;
  src: url('FuturaStd-Heavy.eot'); /* IE9 Compat Modes */
  src: url('FuturaStd-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FuturaStd-Heavy.woff') format('woff'), /* Modern Browsers */
       url('FuturaStd-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FuturaStd-Heavy.svg#f957ac4f7c9e44228c64976e40b8d5f5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: FuturaCondensedMedium;
  src: url('FuturaStd-Condensed.eot'); /* IE9 Compat Modes */
  src: url('FuturaStd-Condensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FuturaStd-Condensed.woff') format('woff'), /* Modern Browsers */
       url('FuturaStd-Condensed.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FuturaStd-Condensed.svg#081ef6506410d8417d95a859863bc480') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: FuturaBook;
  src: url('FuturaStd-Book.eot'); /* IE9 Compat Modes */
  src: url('FuturaStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FuturaStd-Book.woff') format('woff'), /* Modern Browsers */
       url('FuturaStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FuturaStd-Book.svg#db02aa682b3e193ac55da3558b4b0d6e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

