@import "compass/css3";
$feedback-width: 302px;
$feedback-height: 303px;

.modal#feedback-board {
	width: $feedback-width;
	
	.main-content {
		
		.content {
			// height: $feedback-height;
			width: $feedback-width;
			// @include border-radius(8px);
			text-transform: none;
			font-size: 22px;
			
			.top {
					height: 40px;
					width: 100%;
					position: relative;
					top: 5px;
				
					.label {
						position: absolute;
						top: 8px;
						left: 13px;
					}
			}
			
			.feedback-buttons {
				
			}
			
			.problem-list {
				padding: 10px 0;
				.label {display: inline-block;}
				
				.problem-button {
					display: inline-block;
					width: auto;
					text-align: center;
					@include background(linear-gradient(rgb(68,68,68), rgb(59,59,59)));
					text-transform: uppercase;
					letter-spacing: -1px;
					padding: 7px 5px 4px;
					margin: 0 1px;
					@include border-radius(4px);
					// line-height: 45px;
					color: rgba(black, 0.8);
					cursor: pointer;
					
					&.checked {
						@include background(linear-gradient(rgba(white, 0.6), rgba(white, 0.5)));
						color: rgba(white, 0.8);
					}
					&:hover:not(.checked) {
						@include background(linear-gradient(rgba(white, 0.3), rgba(white, 0.2)));
						color: rgba(white, 0.4);
					}
					
					.feedback-radio {
						display: none;
					}
				}
			}
			
			.text-box {
				height: 120px;
				padding: 5px;
				width: calc(100% - 14px);
				font-size: inherit;
				// @include set-placeholder-color(rgba(white, 0.2));
			}
			
			.bottom {
				// border-top: 2px dashed rgb(64,64,64);
				// margin-top: 3px;
				
				.wrapper {
					width: auto;
					position: relative;
					padding: 10px;
					text-align: center;
					
					.button {
						height: 41px;
						width: 49%;
						line-height: 44px;
						
						&.submit {
							cursor: pointer;
							.submit-wrapper {
								
								.overlay {
									height: 41px;
									width: 139px;
									top: -44px;
									left: 0px;
								}
							}
						}

						&:hover {
							@include background(linear-gradient(rgba(white, 0.6), rgba(white, 0.5)));
							color: rgba(black, 0.8);
							&.submit {
								@include background(linear-gradient(rgba(white, 1), rgba(white, 0.9)));
								color: black;
							}
						}
					}
				}
			}
		}
		
	}
}

/* IE Specific Artis Panels Styles */
html[data-useragent*='MSIE 10.0'], html[data-useragent*='Windows NT 6.3'] {
	
	.modal#feedback-board, .modal#user-edit, .modal#user-invites {
	
		// .sidebar {
		// 	top: 2px;
		// }
	
	}
}