@import "compass/css3";
$music-viewport-height: 271px;

.modal#music-admin {
	//Styles for Music Admin
	bottom: 255px;
	right: -175px;
	
	.sidebar {
		width: 178px;
		height: 117px;
		left: -172px;
		top: 296px;
		
		.wrapper {
			height: 100%;
			width: 100%;
			top: 8px;
			
			.chain {
				background: url('/assets/music-admin.png') no-repeat;
				height: 108px;
				width: 175px;
				bottom: 13px;
				left: 14px;
			}
			
			.anchor {
				bottom: 0;
				left: 10px;
			}
		}

	}
	
	.main-content {
		top: 15px;
		
		&.song-view {
			//Styles for Song Edit and New
			top: 17px;
			
			.header {
				top: 0;
				position: relative;
				
				.right {
					top: 0;
					width: 39%;
					right: 11px;
				}
				
				.left {
					width: 33%;
					text-align: right;
					position: absolute;
					left: 7px;
					cursor: pointer;
					
					.go-back {
						position: relative;
						
						img {
							position: absolute;
							left: -22px;
							top: 3px;
						}
					}
				}
			}
			
			.content {
				height: 303px;
				@include border-radius(4px);
				
				.song-basic {
					margin: 4px 0 0 4px;
					
					.song-information {
						top: 40px;
						left: 135px;
					}
				}
				
				.song-state {
					margin-left: 8px;
					position: relative;
					
					> div {
						display: inline-block;
					}
					
					.toggle-switch {
						height: 41px;
						width: 43px;
						@include border-radius(5px);
						border: 2px solid rgb(190,190,190);
						
						.toggle-state {
							display: block;
							height: 52%;
							width: 100%;
							font-size: 16px;
							position: relative;
							line-height: 18px;
							
							span {
								padding: 0;
								position: absolute;
							}
							
							&.on {
								span {
									top: 2px;
									left: 14px;
								}
							}
							
							&.off {
								span {
									top: 4px;
									left: 13px;
								}
							}
							
							&.toggle-select {
								@include background(linear-gradient(rgb(198,198,198), rgb(170,170,170)));
								color: black;
							}
						}
					}
					
					.state {
						font-family: FuturaCondensedMedium;
						font-size: 26px;
						position: absolute;
						top: 10px;
						left: 55px;
						padding: 0;
						
						&.inactive {
							color: rgba(red, 0.7);
						}
						
						&.active {
							color: rgba(36,255,0, 0.7);
						}
					}
				}
				
				.song-form {
					.source-tags {
						position: relative;
						
						.tagsinput {
							position: absolute;
							left: 8px;
							top: 3px;
							padding: 0;
						}
					}
				}
			}
		//End of styles for Song Edit and New
		}
		
		.header {
			position: relative;
			top: -10px;
			
			span {
				padding: 0;
			}
			
			.right {
				width: 100%;
				top: 10px;
			}
			
			.reload-content {
				display: inline-block;
				height: 25px;
				width: 25px;
				position: relative;
				top: 3px;
				background: url('/assets/reload.png') left no-repeat;
				background-size: 100% 100%;
				cursor: pointer;
			}
		}
		
		.content {
			height: 276px;
			width: 100%;
			overflow: hidden;
			@include border-top-right-radius(8px);
			@include border-top-left-radius(8px);
			border-top: none;
			
			#scrollbar1 {
				width: 302px;
				clear: both;
				.viewport {
					width: 297px;
					height: $music-viewport-height;
					overflow: hidden;
					position: relative;
					top: -271px;
				}
				.overview {
					list-style: none;
					position: absolute;
					left: 0;
					top: 0;
				}
				.thumb {
					.end {
						background-color: rgb(102,102,102);
					}
					background-color: rgb(102,102,102);
					@include border-radius(3px);
				}
				.scrollbar {
					position: relative;
					float: right;
					width: 6px;
				}
				.track {
					background-color: rgba(black, 0);
					height: $music-viewport-height;
					top: 6px;
					width: 13px;
					position: relative;
					padding: 0 1px;
				}
				.thumb {
					height: 95px !important;
					width: 5px;
					cursor: pointer;
					overflow: hidden;
					position: absolute;
					top: 0;
					left: -5px;
					.end {
						overflow: hidden;
						height: 5px;
						width: 13px;
					}
				}
				.disable {
					display: none;
				}
			}

			.noSelect {
				user-select: none;
				-o-user-select: none;
				-moz-user-select: none;
				-khtml-user-select: none;
				-webkit-user-select: none;
			}
			
			.song-wrapper {
				
				.border-bottom {
					border-bottom: 2px dashed rgba(white, 0.2);
					width: 91%;
					margin-left: 16px;
				}
				
				.song-content {
					position: relative;
					height: 73px;
					width: 277px;
					margin: 8px 0 8px 5px;
					padding-right: 5px;
					@include border-radius(4px);
					cursor: pointer;
					
					&:hover {
						background: rgba(white, 0.3);
						background-image: url('right-chevrons.png');
						background-position: 265px;
						background-repeat: no-repeat;
					}
				}
			//End of .song-wrapper
			}

		}
		
		.footer {
			height: 27px;
			width: 302px;
			background: black;
			@include border-bottom-right-radius(8px);
			@include border-bottom-left-radius(8px);
			font-family: FuturaStdCondensedLight;
			font-size: 16px;
			
			div {
				display: inline-block;
			}
			
			span {
				padding: 0;
			}
			
			.content {
				height: 100%;
				width: 100%;
				@include border-bottom-right-radius(8px);
				@include border-bottom-left-radius(8px);
				text-align: center;
				
				.divider {
					height: 6px;
					width: 6px;
					background: rgba(white, 0.77);
					@include border-radius(6px);
				}
				
				.setting-section {
					width: auto;
					padding-top: 6px;
				}
				
			}
			
			.yt-link, .sc-link {
				&:hover {
					cursor: pointer;
				}
			}
		}

	}
	
//End of styles for Music Admin
}

/* IE/Firefox Specific Artist Panels Styles */
html[data-useragent*='MSIE 10.0'], html[data-useragent*='Windows NT 6.3'], html[data-useragent*='Firefox'] {
	
	.modal#music-add {
		
		.content {
			.links {
				top: 51px;
			}
		}
	}
	
	.modal#music-admin {
		bottom: 251px;
		
		.content {
			
			.song-state {
				.toggle-switch {
					.toggle-state {
						&.on {
							span {
								top: 0 !important;
							}
						}
						&.off {
							span {
								top: 2px !important;
							}
						}
					}
				}
				
				.state {
					top: 12px !important;
				}
			}
		}
		
		.footer {
			
			.content {
				
				.setting-section {
					padding-top: 4px;
				}
			}
		}
	}
}

/* IE Specific Artis Panels Styles */
html[data-useragent*='MSIE 10.0'], html[data-useragent*='Windows NT 6.3'] {
	
	.modal#music-admin {
	
		.sidebar {
			top: 295px;
		}
	
	}
	
	.song-basic {
		.song-information {
			.song-title {
				overflow: hidden !important;
			}
		}
	}
	
	.main-content.song-view {
		.header {
	
			.left {
				
				.go-back {
					
					img {
						top: 7px !important;
					}
				}
			}
		}
	}
}

/* Firefox specific styles */
html[data-useragent*='Firefox'] {
	.modal#music-admin
		#scrollbar1 {
			.viewport {
				top: 0 !important;
			}
		}
}