@import "compass/css3";
$music-viewport-height: 365px;

.modal#music-admin {
	//Styles for Music Admin
	// bottom: 255px;
	// right: -175px;
/* 	display: none; */
	width: auto;

	
	.main-content {
		// top: 15px;

		.header {
			.reload-content {
				display: inline-block;
				position: relative;
				top: 3px;
			}

			.back-btn {
				vertical-align: baseline;
				padding-right: 5px;
				// @include filter(invert(100%));
			}
			.go-back {
				cursor: pointer;
				opacity: 0.7;
				&:hover {opacity: 1;}
			}
		}
		
		&.song-view {
			//Styles for Song Edit and New
			
			.content {
				// height: 303px;
				@include border-bottom-left-radius(8px);
				@include border-bottom-right-radius(8px);
				
				.song-basic {
					margin: 10px auto;
					.song-information {
						padding: 10px 0px 0 10px;
					}
					.song-image {
						margin: 0;
					}
				}
				
				.song-state {
					// margin-left: 8px;
					position: relative;
					
					> div {
						display: inline-block;
					}
					
					.toggle-switch {
						height: 41px;
						width: 43px;
						@include border-radius(5px);
						border: 2px solid rgb(190,190,190);
						cursor: pointer;
						
						.toggle-state {
							display: block;
							// height: 52%;
							width: 100%;
							font-size: 16px;
							position: relative;
							line-height: 18px;
							text-align: center;
							.switch-box {
								padding: 3px 0 0;
							}

							&.toggle-select {
								@include background(linear-gradient(rgb(198,198,198), rgb(170,170,170)));
								color: black;
							}
						}
					}
					
					.state {
						font-family: FuturaCondensedMedium;
						font-size: 26px;
						position: absolute;
						top: 10px;
						left: 55px;
						padding: 0;
						
						&.inactive {
							color: rgba(red, 0.7);
						}
						
						&.active {
							color: rgba(36,255,0, 0.7);
						}
					}
				}
				
				.private {
					width: 80%;
					margin: 0 auto;
					text-transform: none;
					font-size: 24px;
				}
				.song-form {
					.source-tags {
						position: relative;
						padding: 10px 0 8px;
						.tagsinput {
							// position: absolute;
							// left: 8px;
							// top: 3px;
							padding: 0;
						}
					}
				}
			}
		//End of styles for Song Edit and New
		}
		
		// .header {
		// 	position: relative;
			
		// 	span {
		// 		padding: 0;
		// 	}
			
		// 	.right {
		// 		width: 50%;
		// 		right: 11px;
		// 	}
			
		// 	.left {
		// 		width: 33%;
		// 		text-align: right;
		// 		position: absolute;
		// 		left: 7px;
		// 		top: 17px;
		// 	}
			

		// }
		
		.content {
			// height: 276px;
			width: 100%;
			overflow: hidden;
			@include border-radius(0);
			border-top: none;
			&.songs-container {
				min-height: $music-viewport-height;
			}
			
			#scrollbar1.custom-scroller {
				width: 100%;
				clear: both;

				.scrollbar {
					z-index: 10;
				}
				
				.viewport {
					// width: 297px;
					height: $music-viewport-height;
					// top: -271px;
				}
				.track {
					height: $music-viewport-height;
				}
			}
			
			.song-wrapper {
				
				.border-bottom {
					border-bottom: 2px dashed rgba(white, 0.2);
					width: 91%;
					margin-left: 16px;
				}
				
				.song-content {
					position: relative;
					height: 74px;
					width: 277px;
					margin: 8px 0 8px 5px;
					// padding-right: 5px;
					@include border-radius(4px);
					cursor: pointer;
					
					&:hover {
						background: rgba(white, 0.3);
						background-image: url('right-chevrons.png');
						background-position: 98%;
						background-repeat: no-repeat;
					}

					.block-msg {
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
						background: rgba(black, 0.6);
						@include border-radius(3px);
						text-align: center;
						font-size: 14px;
						text-transform: none;
						color: white;
						span {
							position: relative;
							top: 40%;
							@include transform(translateY(-50%));
						}

					}
				}
			//End of .song-wrapper
			}

		}
		
		.footer {
			height: 27px;
			width: 302px;
			background: black;
			@include border-bottom-right-radius(8px);
			@include border-bottom-left-radius(8px);
			font-family: FuturaCondensedLight;
			font-size: 16px;
			
			div {
				display: inline-block;
			}
			
			span {
				padding: 0;
			}
			
			.footer-content {
				height: 100%;
				width: 100%;
				@include border-bottom-right-radius(8px);
				@include border-bottom-left-radius(8px);
				text-align: center;
				line-height: 12px;
				
				.divider {
					position: relative;
					bottom: 2px;
					height: 6px;
					width: 6px;
					background: rgba(white, 0.77);
					@include border-radius(6px);
				}
				
				.setting-section {
					width: auto;
					padding-top: 9px;
				}
				
			}
			
			.yt-link, .sc-link {
				&:hover {
					cursor: pointer;
				}
			}
		}

	}
	
//End of styles for Music Admin
}

/* IE/Firefox Specific Artist Panels Styles */
// html[data-useragent*='MSIE 10.0'], html[data-useragent*='Windows NT 6.3'], html[data-useragent*='Firefox'] {
	
// 	.modal#music-admin {
// 		// bottom: 251px;
		
// 		.content {
			
// 			.song-state {
// 				.toggle-switch {
// 					.toggle-state {
// 						&.on {
// 							span {
// 								top: 0 !important;
// 							}
// 						}
// 						&.off {
// 							span {
// 								top: 2px !important;
// 							}
// 						}
// 					}
// 				}
				
// 				.state {
// 					top: 12px !important;
// 				}
// 			}
// 		}
		
// 		.footer {
			
// 			.content {
				
// 				.setting-section {
// 					padding-top: 4px;
// 				}
// 			}
// 		}
// 	}
// }

/* IE Specific Artis Panels Styles */
html[data-useragent*='MSIE 10.0'], html[data-useragent*='Windows NT 6.3'] {
	
	.modal#music-admin {
	
		// .sidebar {
		// 	top: 295px;
		// }
	
	}
	
	.song-basic {
		.song-information {
			.song-title {
				overflow: hidden !important;
			}
		}
	}
	
	.main-content.song-view {
		.header {
	
			.left {
				
				.go-back {
					
					img {
						top: 7px !important;
					}
				}
			}
		}
	}
}

/* Firefox specific styles */
html[data-useragent*='Firefox'] {
	.modal#music-admin {
		
		#scrollbar1 {
			.viewport {
				top: 0 !important;
			}
		}

		.container .header {top: -50px;}

	}

}