@import "variables";
@import "controls";

//
//buttons
.buttons {
//	display: none;
	#facebook {
		@include splash-fb-button();
	}
	#sign-in a {
		@include splash-generic-button();
	}
}
#register_form {
	visibility: hidden;
}

#login_page {
	visibility: hidden;
}

#lrn_div {
	display: none;
}
