@import "variables";
@import "controls";

//
//buttons
.buttons {
	width: 564px;
	margin: 0 auto;
	padding-bottom: 35px;

	.left {width: 60%;}
	.right {width: 40%;}

	#facebook {
		@include splash-fb-button();
	}

	.about-button {
		a {
			@include splash-generic-button();
			width: calc(100% - 30px);
		}
	}

	#sign-in {
		position: relative;
		a {
			@include splash-fb-button();
			width: calc(100% - 50px);
		}
	}

	.login-spinner {
		position: relative;
		// background: url('/assets/loader.gif') center no-repeat;
		// height: 24px;
		// width: 24px;
		// background-size: 100% 100%;
		// top: calc(50% - 12px);
		// left: calc(50% - 12px);
		margin: 0 auto;
		display: none;
	}

	.flash-msg {
		font-family: FuturaHeavy;
		text-transform: uppercase;
		color: rgba(black, 0.7);
	}

	.caveat {
		width: 70%;
		text-align: left;
		font-size: 14px;
		text-transform: uppercase;
		margin: 10px auto 0;
		@include text-shadow(none);
	}
}

.intro-blurb {
	width: 564px;
	margin: 0 auto;
	text-align: left;
	font-family: HelveticaNeueLight;
	font-size: 14px;
	padding-top: 35px;
	border-top: 1px solid rgba(black, 0.25);
	@include box-shadow(0 1px 0 0 rgba(white, 0.6) inset);

	p:nth-child(1) {margin-top: 0;}
	p:last-child {margin-bottom: 0;}
}

.rotating-caption {
	font-family: HelveticaNeueLight;
	font-size: 28px;
	margin-top: 35px;
}

#register_form {
	visibility: hidden;
}

#login_page {
	visibility: hidden;
}

#lrn_div {
	display: none;
}
