@import "variables";
@import "controls";

//
//buttons
.buttons {
//	display: none;
	#facebook {
		@include splash-fb-button();
	}
	#sign-in {
		position: relative;
		a {
			@include splash-generic-button();
		}
		.login-spinner {
			position: relative;
			// background: url('/assets/loader.gif') center no-repeat;
			// height: 24px;
			// width: 24px;
			// background-size: 100% 100%;
			// top: calc(50% - 12px);
			// left: calc(50% - 12px);
			margin: 0 auto;
			display: none;
		}
	}

	.flash-msg {
		font-family: FuturaHeavy;
		text-transform: uppercase;
		color: rgba(black, 0.7);
	}

}
#register_form {
	visibility: hidden;
}

#login_page {
	visibility: hidden;
}

#lrn_div {
	display: none;
}
