@import "variables";
@import "compass/css3";
//
//player vars
$player-height: 444px;
$player-width: 564px;

#player-box {
	height: $player-height;
	width: $player-width;
	@include border-radius(10px);
	@include background(radial-gradient(rgba(135,135,135, 1), rgba(45,45,45,1)));
	
	.player {
		height: 320px;
		background: #8b8b8b;
		@include border-top-radius(10px);
		
		.overlay {
			width: 100%;
			height: 100%;
			@include background(linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.55) 99%, rgba(0,0,0,0.6)));
		}
	}
	
	.player-buttons {
		height: 70%;
	}
	
	.external-button {
		display: block;
		font-size: 11px;
		padding: 5px 10px 0 0;
		text-transform: uppercase;
		color: rgb(106,106,106);
		text-decoration: none;
		cursor: pointer;
		font-weight: bold;
		float: right;
		@include text-shadow(1px 1px 3px rgba(1,1,1,0.4));
	}
		
	.seek-scrub {
		height: 30%;
		@include background(rgba(0,0,0,0.25));
		@include border-bottom-radius(10px);
		
		.content {
			margin-left: auto;
			margin-right: auto;
			width: 93%;
			padding-top: 7px;
		}
		
		.slider {
			width: 436px;
			height: 8px;
			display: inline-block;
			margin: 0 !important;
			padding-top: 7px;
		}
		
		.seek-val {
			display: inline-block;
			color: rgb(204,204,204);
			font-size: 12px;
			text-align: center;
			vertical-align: middle;
			padding: 0 0 10px 10px;
		}
	}
	
	.left, .primary, .right {
		display: inline-block;
		font-family: 'FuturaHeavy';
	}
	
	.left {
		width: 25%;
			.content {
				overflow: hidden;
				margin: 40px 0 20px 20px;
				.volume-controls {
					display: none;
				}
			
				#show-slider {
					display: inline-block;
					background: url('/assets/volume.png');
					width: 24px;
					height: 22px;
				}
			}
	}
	
	.primary {
		width: 50%;
		position: relative;
		top: -30px;

		.control-panel {
			margin-left: auto;
			margin-right: auto;
			width: 60%;
		}
		
		.control {
			vertical-align: middle;
			display: inline-block;
			@include border-radius(100%);
			border: 3px solid #696a69;
/* 			@include border-image(linear-gradient(rgba(105,105,105,1), rgba(105,105,105,0))); */
			@include background(linear-gradient(rgb(248,248,248), rgb(171,171,171)));
/* 			@include box-shadow(1px 1px 3px rgba(1,1,1,0.35)); */

			.control-image {
				display: block;
				height: 100%;
				width: 100%;
			}
			
			&.change-song {
				width: 40px;
				height: 40px;
				
				.skip-image {
					background: url('/assets/skip.png') no-repeat center;
				}
				#prev-image {
					@include rotate(180);
				}
			}
			
			&.change-state {
				width: 52px;
				height: 52px;
				.play-image {
					background: url('/assets/play.png') no-repeat center;
				}
			}
		}
		
		.current-content {
			width: 100%;
			position: absolute;
			text-align: center;
			color: rgb(204,204,204);
			@include text-shadow(1px 1px 3px rgba(1,1,1,0.35));
						
			span {
				display: block;
				padding-top: 5px;
			}
			
			.song-title {
				font-size: 23px;
				
			}
			.artist {
				font-size: 13px;
			}
		}
		
	}
	
	.right {
		width: 24%;
		height: 100%;
		.content {
			overflow: hidden;
			margin: 7px 20px 20px 0;
		}
	}

	#youtube {
		display: none;
	}

	#radio-controls {
		height: 126px;
		@include border-radius(10px);
	}
}

#radio-stations {
	margin-top: 8px;
	a {
		font-size: 18pt;
		font-family: "FuturaCondensedMedium";
		cursor: pointer;
		
		&.idle {
			color: rgba(0,0,0,0.3);
			
			&:hover {
				color: rgba(0,0,0,0.6);
			}
		}
		
		&.streaming {
			color: rgba(0,0,0,0.8);
		}
	}
}
