@import "variables";
@import "compass/css3";
@import "controls.scss";

//
//player vars
$player-height: 484px;
$player-width: 564px;

#player-box {
	height: $player-height;
	width: $player-width;
	@include border-radius(10px);
	@include background(radial-gradient(rgba(135,135,135, 1), rgba(45,45,45,1)));
	
	.player {
		height: 320px;
		background: #8b8b8b;
		@include border-top-radius(10px);
		
		.overlay {
			width: 100%;
			height: 100%;
			@include border-top-radius(10px);
			@include background(linear-gradient(rgba(0,0,0,0) 75%, rgba(black, 0.05) 85%, rgba(0,0,0,0.3)), url('/assets/sc-radio-bg.jpg') no-repeat center / 100% 100%);
			position: relative;

			.song-link {
				height: 55px;
				width: 80px;
				background: url('/assets/sc-logo.png') center / contain no-repeat;
				position: absolute;
				top: auto;
				left: auto;
				bottom: 10px;
				right: 10px;
				opacity: 0.7;
				display: none;

				&:hover {
					opacity: 0.9;
				}
			}
		}
	}
	
	.player-buttons {
		height: 122px;
		position: relative;
	}
		
	.seek-scrub {
		height: 40px;
		@include background(rgba(0,0,0,0.25));
		@include border-bottom-radius(10px);
		position: relative;

		&.disable {
			.track, .highlight-track, .dragger {color: rgba(black, 0.5);}
			#overlay-mask {display: block;}
		}
		
		.content {
			height: 100%;
			width: 100%;
			position: absolute;
			left: 18px;
			top: 12px;

			> div {
				display: inline-block;
				position: absolute;
			}
		}
		
		#overlay-mask {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			display: none;
		}

		.slider {
			width: 445px;
			height: 8px;
			display: inline-block;
			margin: 0 !important;
			padding-top: 7px;
		}
		
		.seek-val {
			color: rgb(204,204,204);
			width: 78px;
			font-size: 13px;
			font-family: 'HelveticaNeue';
			left: 445px;
			text-align: right;

			span {
				display: inline-block;
				margin-top: 3px;
			}
		}
	}
	
  .primary, .right {
		display: inline-block;
		font-family: 'Futura';
		position: relative;
	}
	
	.primary {
    width: 100%;
    margin: 0px;
		top: -30px;
    text-align: center;
    
		.volume-container {
			margin-top: 6px;
      display: inline-block;
			
			.volume-controls {
				display: none;
				position: absolute;
				@include background(linear-gradient(rgba(128,128,128,1) 40%, rgba(128,128,128,0) 95%));
				@include border-radius(11px);
				bottom: 116px;
        left: 13px;
				width: 25px;
				height: 113px;
				padding: 5px 0 0 2px;
				
				.ui-slider-vertical {
					@include background(linear-gradient(rgb(63,63,63), rgb(45,45,45)));
					width: 11px;
					height: 80px;
					@include box-shadow(1px 0px 0px rgba(1,1,1,0.15));
					@include border-radius(11px);
					border-bottom: 1px solid #585858;
					margin: 12px 0 0 6px;
				}
				
				.ui-slider-handle {
					@include background(linear-gradient(rgb(248,248,248), rgb(171,171,171)));
					@include box-shadow(1px 1px 3px rgba(1,1,1,0.36));
					@include border-radius(10px);
					left: -4px;
					width: 17px;
					height: 17px;
					&:hover {
						@include background(linear-gradient(rgb(200,200,200), rgb(150,150,150)));
					}
					&:focus {
						outline: 0;
					}
				}
				
				.ui-slider-range-min {
					@include background(linear-gradient(rgb(0, 234, 83), rgb(0, 169, 59)));
					@include border-radius(11px);
				}
				
				.ui-widget-content {
					border: none;
				}
				
				.slider {
					width: 80px;
					height: 11px;
					margin: 0 !important;
					padding: 0 0 25px 23px;
				}
			}
		
			#show-slider {
				visibility: hidden;
				background: url('/assets/volume.png');
				width: 24px;
				height: 22px;
				opacity: 0.8;
        
				&.show-button {	visibility: visible; }
				&:hover{ opacity: 1; }
			}
		}
    
		.content {
			margin-left: 19px;
			position: relative;
			top: 50%;
			@include transform(translateY(-50%));
			line-height: 18px;
			
			> div {
				display: inline-block;
			}
			
			.report-container {
				vertical-align: 7px;
				
				.external-button {
					margin-left: 9px;
				}
				
				.report-box {
					display: none;
					position: relative;
					
					#report-board {
						position: absolute;
						z-index: 2;
						// height: 164px;
						width: 305px;
						bottom: 40px;
						left: -125px;
						background: rgb(238, 238, 238);
						@include border-radius(7px);
						
						.report-form {
							padding-top: 8px;
							text-transform: uppercase;
/* 								text-align: center; */
							font-family: FuturaCondensedLight;
							font-size: 18px;
							
							form, .title {
								text-align: center;
							}

							
							input[type=radio] {
								display: none;
							}
							
							textarea {
								margin: 0 8px 0 8px;
								width: 266px;
								height: 45px;
								font-family: FuturaBook;
								font-size: 12px;
								border: 1px solid #bebebe;
								@include box-shadow(0 0 1px #bebebe);
							}
							
							.report-buttons {
								height: 27px;
								width: 92px;
								@include border-radius(3px);
								font-family: inherit;
								font-size: inherit;
							}
							
							.problem-submit {
								height: 38px;
								width: 100%;
								background: white;
								@include border-bottom-right-radius(6px);
								@include border-bottom-left-radius(6px);
								// position: absolute;
								// top: 126px;
								// text-align: submit;
/* 									margin-top: 4px; */
								
								.submit-report {
									background: rgb(0,211,74);
									text-shadow: none;
									box-shadow: none;
									text-transform: inherit;
									border: 0;
									margin: 0;
									padding: 0;
									// margin-left: 106px;
									margin-top: 4px;
									line-height: 29px;
									color: white;
									cursor: pointer;
								}
							}
							
							
							.problem-list {
								margin: 5px auto;
								width: 62%;
								
								.problem-button {
									display: inline-block;
									position: relative;
									// height: 27px;
									padding: 5px 0px 0px;
									width: 92px;
									background: rgb(190,190,190);
									cursor: pointer;
									
									&.checked {
										background: #f44848;
									}
									
									span {
										// position: absolute;
										// bottom: 0px;
										line-height: 25px;
										width: 100%;
										text-align: center;
										color: white;
									}
								}
							}
						}
					}
					
					.modal-tail {
						position: absolute;
						z-index: 1;
						width: 0; 
						height: 0; 
						border-left: 17px solid transparent;
						border-right: 17px solid transparent;
						border-top: 17px solid white;
						bottom: 24px;
						left: 22px;
						// left: 50%;
						// @include transform(translateX(-50%));
					}
				}
			}
		}

		.control-panel {

		}
		
		.control {
			vertical-align: middle;
			display: inline-block;
      margin-left: -4px;
			@include border-radius(100%);
			border: 3px solid #696a69;
			@include background(linear-gradient(rgb(248,248,248), rgb(171,171,171)));
			cursor: pointer;

			.control-image {
				display: block;
				height: 100%;
				width: 100%;
				opacity: 0.9;
			}

			&:active, &:hover {	.control-image {opacity: 1;} }
			&:hover {	@include background(linear-gradient(rgb(255,255,255), rgb(190,190,190)));	}
			&:active { @include background(linear-gradient(rgb(171,171,171), rgb(248,248,248))); }
      
			&.change-state { //play or pause
				width: 52px;
				height: 52px;
        position: relative;
        z-index: 1;
        
				.play-image {
					background: url('/assets/play.png') no-repeat center;
					background-position: 60% 50%;
				}
				.pause-image {
					background: url('/assets/pause.png') no-repeat center;
				}
				.spinner {
					background-size: 815% 100%;
					@include transform(scale(0.6));
				}
			}
			
			&.next-song { //next song button
        @include border-radius(0px 24px 24px 0px);
				width: 40px;
				height: 40px;
				opacity: 0;
				visibility: hidden;
				display: none;
        margin-left: -15px;
        width: 56px;
        position: relative;

				&.enable-control {
					opacity: 1;
					visibility: visible;
					display: inline-block;
				}
				
				.skip-image {
					background: url('/assets/skip.png') no-repeat center;
				}
				.prev-image {
					background: url('/assets/prev.png') no-repeat center;
				}
			}
      
			&.volume { //volume control
        @include border-radius(24px 0 0 24px);
				width: 40px;
				height: 40px;
				opacity: 0;
				visibility: hidden;
				display: none;
        margin-right: -12px;
        width: 56px;
        position: relative;
        z-index: 1;

				&.enable-control {
					opacity: 1;
					visibility: visible;
					display: inline-block;
				}
        
				.volume-image {	background: url('/assets/volume.png') no-repeat center;	}
			}
			
			&.disable {
				$disable-bg: linear-gradient(rgb(248,248,248), rgb(171,171,171));
				// @include background($disable-bg);
				.skip-image {opacity: 0.5;}
				cursor: default;
				&:hover {@include background($disable-bg);}
				&:active {@include background($disable-bg);}
			}

		}

		#user-song-ctas {
			display: none;
			position: absolute;
			z-index: 0;
			left: 136px;
			top: 6px;
			@include background(linear-gradient(rgb(112,112,112), rgb(99,99,99)));
			@include border-radius(0 24px 24px 0);
			height: 46px;
			padding: 0 18px 0 22px;

			&.enable-ctas {
				opacity: 1;
				visibility: visible;
				display: block;
			}

			.user-cta {
				position: relative;
				top: 50%;
				@include transform(translateY(-50%));
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;
				opacity: 0.9;

				&.share-icon {opacity: 0.7;}
				&:hover {
					opacity: 1;
					&.share-icon {opacity: 0.8;}
				}
			}
		}
		
		.current-content {
			width: 100%;
			color: rgb(204,204,204);
			@include text-shadow(1px 1px 3px rgba(1,1,1,0.35));
			font-family: FuturaBook;
			margin-top: 20px;
      
			// span { display: block; }
			.first-load {	margin-top: 10px;	}

			.title-container {
				position: relative;
				.favorites-link {
					display: inline-block;
					position: relative;
					top: -4px;
					margin-left: 5px;

					&.hidden {display: none;}
				}
			}
			
			.song-title {
				font-size: 26px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				max-width: calc(100% - 35px);
				display: inline-block;
			}
			.artist {
				font-size: 16px;
			}
		}
		
	}
	
	.right {
		width: calc(35% - 40px);
		height: 100%;
    float: right;
    margin-right: $player-control-margin;
    
		.content {
			overflow: hidden;
			position: relative;
			top: 50%;
			@include transform(translateY(-50%));
			line-height: 18px;
      
      a { 
        display: block;
    		font-size: 12px;
    		height: 16px;
        text-align: right;
    		text-transform: uppercase;
    		color: rgba(white, 0.4);
    		// opacity: 0.2;
    		text-decoration: none;
    		cursor: pointer;
    		font-weight: bold;
    		@include text-shadow(1px 1px 3px rgba(1,1,1,0.2));
    		font-family: FuturaHeavy;
        opacity: 0;

    		&.show-button {
    			opacity: 1;
    			visibility: visible;

    			.active-label {
    				color: rgba(white, 0.6);
    			}

    			&:hover {
    				color: rgba(white, 0.6);
    			}
	    		&.current-visit {
	    			// opacity: 0.94 !important;
	    			color: rgba(white, 0.8);
	    			.active-label {color: white;}
	    		}
    		}
	

      }
			.playlist { overflow: hidden; margin-bottom: 10px; }
      .song { overflow: hidden; }
		}
	}

	#youtube {
		display: none;
	}

	#radio-controls {
		height: 166px;
		border-top: 1px solid rgba(white, 0.2);
		@include border-radius(0 0 10px 10px);
	}
}

// #radio-stations {
// 	display: none;
// 	margin-top: 8px;
// 	margin-left: 10px;
// 	font-size: 18px;
// 	font-family: "FuturaCondensedMedium";
// 	.label {
// 		opacity: 0.2;
// 	}
// 	a {
// 		cursor: pointer;
		
// 		&.idle {
// 			color: rgba(0,0,0,0.3);
			
// 			&:hover {
// 				color: rgba(0,0,0,0.6);
// 			}
// 		}
		
// 		&.streaming {
// 			color: rgba(0,0,0,0.8);
// 		}
// 	}
// }

#sm-social-cta {
	position: absolute;
	font-family: FuturaCondensedMedium;
	left: -120px;
	text-align: justify;
	text-transform: uppercase;
	color: rgba(white, 0.9);
	width: 110px;
	@include text-shadow(0 -2px rgba(black, 0.2));

	@media #{media-width-res(1050)} {
		display: none;
	}

	.copy-container {
		@include background(linear-gradient(rgb(90,90,90), rgb(70,70,70)));
		@include border-radius(6px 6px 0 0);
		padding: 3px 10px;

		.copy-box:nth-child(1) {
			border-bottom: 1px dashed white;
		}
		.copy-box {
			padding: 7px 0;
		}

		.large {
			font-size: 38px;
			letter-spacing: 3px;
		}
		.medium {font-size: 28px;}
		.small {font-size: 20px;}
	}

	.links-container {
		@include background(linear-gradient(rgb(35,35,35), rgb(30,30,30)));
		@include border-radius(0 0 6px 6px);
		text-align: center;
		.sm-social-icon {
			display: inline-block;
			margin: 12px 3px;
			position: relative;
			cursor: pointer;
		}
	}
}

/* IE Specific Radio Styles */
html[data-useragent*='MSIE 10.0'], html[data-useragent*='Windows NT 6.3'] {
	
	#player-box {
	
		.left {
			
			.report-form {
				
				.problem-submit {
					
					.submit-report {
						line-height: inherit !important;
					}
				}
				
				.problem-button {
					
					span {
						line-height: 27px !important;
					}
				}
			}
		}
	
		.seek-scrub {
			.content {
				bottom: -12px;
			}
			.seek-val {
				bottom: 24px;
			}
		}
		.current-content .currently-playing.first-load {
			margin-top: 0;
		}
	}
}

/* Firefox Specific Radio Styles  */
  html[data-useragent*='Firefox'] {
	#player-box {
	
		.seek-scrub {
			
			.content {
				top: 12px;
			}
		}
		.seek-val {top: -1px;}
		
		.left {
			
			.report-form {
				
				.problem-button {
					
					span {
						line-height: 25px !important;
					}
				}
			}
		}
	}
}

/* Safari Specific Radio Styles  */
html[data-useragent*='Macintosh'] {
	#player-box {
		
		.left {
			
			.report-container {
				.external-button {
					margin-left: 4px;
				}
			}
		}
		
	}
}
