@import "compass/css3";

.slider {
  width: 300px;
  > {
    .dragger {
      @include background(linear-gradient(rgb(248,248,248), rgb(171,171,171)));
      @include box-shadow(1px 1px 3px rgba(1,1,1,0.36));
			@include border-radius(10px);
      width: 17px;
      height: 17px;
      &:hover {
				@include background(linear-gradient(rgb(200,200,200), rgb(150,150,150)));
      }
    }
    .track {
      background: rgb(24,24,24);
      @include box-shadow(1px 1px 0px rgba(1,1,1,0.18));
      @include border-radius(8px);
      border-bottom: 1px solid #585858;
      height: 8px;
    }
    .highlight-track {
      @include background(linear-gradient(rgb(0, 234, 83), rgb(0, 169, 59)));
			@include border-radius(8px);
      height: 8px;
    }
  }
}
