@import "compass/css3";

#music-admin .main-content > .content {
	
	.unlink-form {
		height: 365px;
		position: absolute;
		background: rgba(black, 0.83);
		z-index: 10;
		@include border-top-right-radius(8px);
		@include border-top-left-radius(8px);
		font-family: FuturaBook;
		font-size: 24px;
		text-transform: none;
		text-align: center;
		
		form {
			position: relative;
			top: 50%;
			@include transform(translateY(-50%));
			width: 90%;
			margin: 0 auto;
			
			.wrapper {
				position: relative;
				top: 10px;
				
				.button {
					height: 30px;
					width: 65px;
					line-height: 33px;
					font-family: FuturaCondensedLight;
					cursor: pointer;

					&:hover {
						@include background(linear-gradient(rgba(white, 0.6), rgba(white, 0.5)));
						color: rgba(white, 0.8);
					}
					
					.submit-wrapper {
						height: 100%;
						width: 65px;
						position: absolute;
						top: 0;
						
						.overlay {
							position: static;
						}
					}
				}
			}
		}
	}
}