$footer-height: 65px;
$radius: 9px;
$music-viewport-height: 365px;
$player-control-margin: 20px;

//
//colors
$bg-text-highlight: #cf3125;

//
//media queries
// $desktop-1100: "only screen and (max-device-width: 1100px), (max-width: 767px)";
$tablet-mobile: "only screen and (max-device-width: 767px), (max-width: 767px)";

@function media-width-res($res) {
	@return "only screen and (max-device-width: " + $res + "px), (max-width: " + $res + "px)";
}
@function media-height-res($res) {
	@return "only screen and (max-device-height: " + $res + "px), (max-height: " + $res + "px)";
}