.logo
	= image_tag('core/footer_logo.png')
.right 
	%small
		Copyright 2013 SoundMelon Inc.
	.icons
		.icon-32#facebook-icon{href: "#"}
		.icon-32#twitter-icon{href: "#"}
		.icon-32#linkedin-icon{href: "#"}
	%small
		- if signed_in?
			Hello #{current_user.first_name + ' ' + current_user.last_name}! 
			- if !current_user.is_artist?
				Why not
				%a#add-content add your tunes
				to the radio?
			- else
				%a#add-content Manage
				your tunes.
			= link_to('Logout', signout_path, method: 'delete', remote: true)

		- else
			Find your tune.
			%a#learn-more Learn more 
			or 
			= link_to('SO WHY NOT REGISTER?', signup_path, remote: true)

	.modal#more-info
		Phasellus luctus malesuada velit, eu pellentesque eros imperdiet a. Donec in sagittis dolor. Proin pretium magna ac lectus pretium, non viverra dolor sagittis. Ut sit amet mauris a massa lacinia porta. Cras tristique urna ipsum. Aenean vehicula condimentum laoreet.

:javascript
	$('#learn-more').click(function() {
		$('#more-info').toggle();
	});

	$('#add-content').click(function() {
		$('#user-add').toggle();
	});
