.logo
	= image_tag('core/footer_logo.png')
.right
	%small
		= render 'layouts/footer_menu'
			
		- if signed_in?
			= render "layouts/modal_boxes"
	#flash-board.notification
		%span.message
		.severity
			%span.level

/= render 'layouts/modal_js'
:javascript


	$('document').ready(function() {
		//Add AJAX-loaders
		$(document).ajaxStop(function() {
			$('.spinner').hide();		
		});

		var fromCallback = '#{flash[:music_account_callback].to_s}';
		if(fromCallback === 'true') {
			$('.add-content').click();
		}

	});
