.logo
	= image_tag('core/footer_logo.png')
.right 
	%small
		Copyright 2013 SoundMelon Inc.
	.icons
		.icon-32#facebook-icon{href: "#"}
		.icon-32#twitter-icon{href: "#"}
		.icon-32#linkedin-icon{href: "#"}
	%small
		- if signed_in?
			Hello #{current_user.first_name + ' ' + current_user.last_name}! 
			Why not 
			%a#add_content{href: '#'} add your tunes 
			to the radio?
			= link_to('Logout', signout_path, method: 'delete', remote: true)

		- else
			Find your tune.
			%a#lrn_lnk{href: '#'}Learn more 
			or 
			= link_to('SO WHY NOT REGISTER?', signup_path, remote: true)