%small
	Copyright 2013 SoundMelon Inc.
	%button#fb{href: '#'} FB
	%button#twitter{href: '#'} TW
	%button#lnkdin{href: '#'} in
	Find your tune.
	%a#lrn_lnk{href: '#'}Learn more 
	or 
	%a.register_now{href: '#'}Register
	- if signed_in?
		= button_to('Logout', signout_path, method: 'delete', remote: true)
