.logo
.right
	.menu-wrapper= render 'layouts/footer_menu'
		
	- if user_signed_in?
		= render "layouts/modal_boxes"
.clear

:javascript


	$('document').ready(function() {

		var fromCallback = '#{flash[:music_account_callback].to_s}';
		if(fromCallback === 'true') {
			$('.add-content').click();
		}

	});
