.modal-boxes
	
	.modal#music-add
		.container
			.sidebar
				.wrapper
					.chain
					.anchor
			.main-content
				.header
					.section-wrapper
						.title add songs with
				.content
	
	.modal#music-admin
		#artist-media
			.container
				.sidebar
					.wrapper
						.chain
						.anchor
				.main-content
					.header
						.section-wrapper
							.left
								.spinner.white-spinner
							.header-right
								.reload-content{title: 'Reload Songs'}
									= link_to artist_show_path, remote: true, class: 'reload-button' do
										%span.div-link
								.title
									your tunes
							.clear
					.content.songs-container
					.footer
		
	.modal#artist-profile
		#profile-section
			.container
				.sidebar
					.wrapper
						.chain
						.anchor
				.main-content
					.header
						.section-wrapper
							.left
								.spinner.white-spinner
							.header-right
								.title profile
					.content
					.rounded-bottom

	.modal#user-edit
		#user-settings
			= render "users/settings"
			
	.modal#user-invites
		#invites-page
			.container
				.sidebar
					.wrapper
						.chain
						.anchor
				.main-content
					.header
						.section-wrapper
							.left
								.spinner.white-spinner
							.header-right
								.title invite friends
					.content
		
	.modal#feedback-board
		#feedback-new
			.container
				.sidebar
					.wrapper
						.chain
						.anchor
				.main-content
					.header
						.section-wrapper
							.left
								.spinner.white-spinner
							.header-right
								.title	 submit feedback
					.content