.modal-boxes
	
	.modal#music-add
		.container
			.sidebar
				.wrapper
					.chain
					.anchor
			.main-content
				.header
					%span add songs with
				.content
	
	.modal#music-admin
		#artist-media
			.container
				.sidebar
					.wrapper
						.chain
						.anchor
				.main-content
					.header
						.left
							.spinner
						.right
							.reload-content{title: 'Reload Songs'}
								= link_to artist_show_path, remote: true, class: 'reload-button' do
									%span.div-link
							%span your tunes
					.content
					.footer
		
	.modal#artist-profile
		#profile-section
			.container

				.sidebar
					.wrapper
						.chain
						.anchor
				.main-content
					.header
						.left
							.spinner
						.right
							%span profile
					.content

	.modal#user-edit
		#user-settings
			= render "users/settings"
			
	.modal#user-invites
		#invites-page
			.container
				.sidebar
					.wrapper
						.chain
						.anchor
				.main-content
					.header
						.left
							.spinner
						.right
							%span invite friends
					.content
		
	.modal#feedback-board
		#feedback-new
			.container
				.sidebar
					.wrapper
						.chain
						.anchor
				.main-content
					.header
						.left
							.spinner
						.right
							%span submit feedback
					.content