:javascript
	function smartModal(modal, content) {
		//Ajax load into modal if content is not available. modal, content are ids.
		var modalId = '#' + modal;
		var contentId = '#' + content;
		//$(modalId).toggle();
		return ( (document.getElementById(modal).style.display == 'none') || ($(modalId + ' ' + contentId).length > 0) )
	}

	$('#feedback-link').click(function() {
		$('.modal#feedback-board').show();
		if(smartModal('feedback-board', 'feedback-form')) {
			return false
		}
		else {
			$('.modal#feedback-board .spinner').show();
		}
	});
	
	$('#invite-page-link').click(function() {
		$('.modal#user-invites').show()
		if(smartModal('user-invites', 'invites-form')) {
			return false
		}
		else {
			console.log('yo wait up');
			$('.modal#user-invites .spinner').show();
		}
	});

	$('#artist-show').click(function() {
		$('.modal#music-admin').show();
		if(smartModal('music-admin', 'available-uploads')) {
			console.log('available-uploads');
			return false;
		}
		else {
			$('#music-admin .spinner').show();
		}
	});
	
	$('#artist-profile-edit').click(function() {
		$('.modal#artist-profile').show();
		if(smartModal('artist-profile', 'artist-profile-form')) {
			console.log('not loading');
			return false;
		}
		else {
			console.log('loading...');
			$('.modal#artist-profile .spinner').show();
		}
	});

	$('#edit-page').click(function() {
		$('#user-edit').toggle();
	});