.artist-song
	- @current_song = ArtistUpload.where(artist_id: current_artist.id, song_id: video.video_id)
	%img{src: video.thumbnails.first.url} #{video.title}
	- @in_db = !@current_song.empty?
	- @is_active = (@in_db && @current_song.first.active)
	- @edit_action = @in_db ? "edit" : "new"
	.state= @is_active ? "active" : "inactive"
	= render template: 'artist_uploads/' + @edit_action, locals: {video_id: video.video_id}
	%br
