.active-toggle
	%label= f.check_box(:active, class: 'ios-switch')

- keywords = keywords.nil? ? [] : keywords
= label(:keywords, "Tags")
.genre-tags= f.text_field :keywords, value: keywords.join(', '), placeholder: "Add some genre tags for this song..."

:javascript
	// Add divs for toggle switches
	var switches = document.querySelectorAll('input[type="checkbox"].ios-switch');

	for (var i=0, sw; sw = switches[i++]; ) {
		var div = document.createElement('div');
		div.className = 'switch';
		sw.parentNode.insertBefore(div, sw.nextSibling);
	}
