.song-form
	- @artist = current_artist
	- @artist_upload = ArtistUpload.find_by_song_id(song_id)
	= form_for(@artist_upload, remote: true) do |f|
		= render 'artist_uploads/upload_form', {f: f, active: @artist_upload.active, keywords: @artist_upload.keywords}

